# Example using Dapla Statbank Client

The Dapla Statabank Client is made by Statistics Norway. The client have some functions which makes it easy for external users to get JSON-stat2 data via API.

See: https://pypi.org/project/dapla-statbank-client/

```pip install dapla-statbank-client```

In [1]:
from statbank import apidata_all, apidata, apidata_rotate

```apidata_all``` does not need a specified query, it will build its own query, trying to get all the data from the table. This might exceed the limit of 800.000 cells, resulting in an error (429).

To get tables in English, using ```apidata_all``` you have to give the full url. (For Norwegian you can give the TableId only.)

We want the Economic trends for Norway dataset, table 12880. This dataset also contain economic forecasts for the next 4 years.

In [2]:
table_url = "https://data.ssb.no/api/v0/en/table/12880/"

## Using apidata_all

In [3]:
df_12880 = apidata_all(table_url)

 INFO     | https://data.ssb.no/api/v0/en/table/12880/

In [4]:
df_12880

                           contents  year  value
0     Consumption in households etc  1991    2.1
1     Consumption in households etc  1992    2.4
2     Consumption in households etc  1993    2.3
3     Consumption in households etc  1994    3.4
4     Consumption in households etc  1995    3.6
...                             ...   ...    ...
1629    Crude oil price NOK (level)  2024  856.0
1630    Crude oil price NOK (level)  2025  713.0
1631    Crude oil price NOK (level)  2026  650.0
1632    Crude oil price NOK (level)  2027  654.0
1633    Crude oil price NOK (level)  2028  662.0

[1634 rows x 3 columns]

```apidata_rotate``` is a thin wrapper around pandas.pivot function

In [5]:
df_12880_rotate = apidata_rotate(df_12880, "contents", "value")

In [6]:
df_12880_rotate

year,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,...,2019,2020,2021,2022,2023,2024,2025,2026,2027,2028
contents,,,,,,,,,,,,,,,,,,,,,
CPI-ATE,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,2.2,3.0,1.7,3.9,6.2,3.7,3.1,2.9,2.6,2.5
Consumer price index (CPI),3.5,2.3,2.3,1.4,2.5,1.2,2.6,2.2,2.3,3.1,...,2.2,1.3,3.5,5.8,5.5,3.1,3.0,2.2,2.6,2.4
"Consumer price index, euro-area",4.1,3.6,3.3,2.7,2.4,2.0,1.6,1.1,1.1,2.1,...,1.2,0.3,2.6,8.4,5.4,2.4,2.2,2.0,2.1,2.2
Consumption in households etc,2.1,2.4,2.3,3.4,3.6,6.3,3.1,2.8,3.7,4.2,...,1.0,-6.2,5.1,7.8,-1.2,1.4,3.0,3.3,2.9,2.7
Crude oil price NOK (level),130.0,120.0,121.0,111.0,108.0,133.0,136.0,97.0,135.0,232.0,...,564.0,407.0,609.0,951.0,867.0,856.0,713.0,650.0,654.0,662.0
Crude oil price US dollar (level),20.0,19.0,17.0,16.0,17.0,21.0,19.0,13.0,17.0,26.0,...,64.0,43.0,71.0,99.0,82.0,80.0,69.0,65.0,65.0,66.0
Current account (per cent of GDP),3.3,3.1,2.6,2.7,3.2,6.5,5.9,-0.4,5.3,14.6,...,3.8,1.1,14.9,29.6,17.4,16.7,15.7,12.9,10.9,9.7
Current balance (NOK billion),26.0,26.0,22.0,24.0,31.0,68.0,67.0,-5.0,68.0,221.0,...,136.0,38.0,644.0,1699.0,887.0,868.0,848.0,709.0,619.0,565.0
Demand from Mainland Norway,1.5,2.2,1.9,4.2,4.2,6.6,4.2,4.2,2.5,3.1,...,2.3,-3.9,3.9,4.7,-0.3,0.3,1.9,2.1,2.9,2.5
Employed persons,<NA>,<NA>,<NA>,<NA>,<NA>,2.1,3.0,2.7,0.9,0.6,...,1.6,-1.5,1.1,3.7,1.3,0.5,0.7,0.6,0.5,0.5
"Export prices, traditional goods",-0.8,-6.3,-0.1,2.0,6.7,-2.2,-0.6,2.9,-1.2,10.8,...,0.1,-3.5,12.6,30.4,0.0,-1.5,4.8,1.7,1.5,2.5
Exports,6.2,4.7,3.1,8.3,5.4,10.1,7.7,1.3,2.9,3.9,...,2.1,-2.3,6.1,5.2,0.4,5.2,-1.3,0.9,0.0,-1.8
Exports markets indicator,2.0,3.5,-0.9,9.6,8.4,5.5,10.2,8.5,7.0,12.6,...,3.4,-7.5,10.1,8.4,1.6,1.6,1.7,1.6,1.8,1.9
Exports of crude oil and natural gas,16.1,11.4,6.0,13.7,10.1,13.2,4.1,-5.5,1.0,4.4,...,-2.9,10.5,0.2,0.3,-1.8,6.7,-3.0,-0.3,-2.0,-4.6
Exports of traditional goods,-0.5,5.0,3.8,11.5,4.6,10.7,7.5,7.2,2.2,4.8,...,5.1,-0.8,6.7,-1.8,5.3,2.1,4.5,2.5,2.2,1.0
Extraction and transport via pipelines,30.4,12.1,11.9,-4.9,-14.1,-5.4,24.1,21.7,-12.5,-22.1,...,14.3,-3.3,-0.9,-6.0,10.2,9.8,6.0,-4.0,-5.0,-6.0
GDP Mainland Norway,1.5,2.6,2.7,3.6,3.4,4.1,5.2,3.8,2.4,2.9,...,2.3,-2.8,4.5,4.3,0.7,0.6,1.9,1.8,2.3,1.7
GDP Manufacturing,-2.5,1.1,1.4,3.1,0.3,4.7,5.0,-1.0,0.7,1.0,...,2.1,-5.7,5.6,1.0,0.0,1.6,3.7,1.5,1.9,0.5
GDP in current prices (NOK billion),790.0,813.0,855.0,897.0,963.0,1055.0,1141.0,1164.0,1266.0,1509.0,...,3597.0,3462.0,4324.0,5733.0,5102.0,5197.0,5395.0,5494.0,5659.0,5794.0
General government,9.0,3.1,-10.1,1.0,1.2,3.5,15.9,6.0,-0.3,-9.6,...,7.5,-1.1,-2.5,1.5,4.1,3.9,0.7,1.6,4.1,3.5
General government consumption,5.8,6.1,3.6,1.4,0.3,2.8,2.9,3.5,3.2,2.1,...,1.1,-0.5,3.6,1.8,3.4,2.4,2.1,2.3,2.0,1.3
Gross domestic product (GDP),3.1,3.6,2.8,5.1,4.2,5.0,5.3,2.7,2.1,3.3,...,1.1,-1.3,3.9,3.2,0.1,2.1,0.2,1.1,1.0,-0.3
Gross fixed investment,-0.4,-2.0,5.3,5.3,3.2,9.4,14.8,12.3,-4.9,-3.3,...,9.5,-4.1,0.7,0.3,-1.5,-1.4,0.7,-1.1,2.2,1.6
Gross fixed investment mainland Norway,-5.2,-3.3,-1.7,11.2,11.5,12.6,9.0,8.7,-1.5,1.3,...,6.3,-3.1,1.6,1.7,-2.6,-4.6,-0.8,-0.9,4.3,3.5
Household real income,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,3.8,...,2.0,1.1,4.1,-3.4,-2.5,4.0,5.3,3.3,2.3,2.0
Household saving ratio (level),<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,4.3,3.8,...,7.1,12.9,13.8,4.7,4.0,7.1,8.9,8.9,8.2,7.4
Housing,-15.2,-9.2,-0.8,24.5,10.5,2.8,12.1,7.7,3.0,5.6,...,-1.1,-1.6,3.5,0.4,-18.3,-19.1,-8.9,-2.7,14.0,11.4
Housing prices,<NA>,<NA>,0.9,13.2,7.3,9.0,11.9,11.1,11.1,15.9,...,2.5,4.3,10.5,5.2,-0.5,2.7,4.5,3.6,4.7,4.0
"Import prices, traditional goods",-1.5,-3.0,1.0,0.8,1.2,-0.5,-1.5,1.0,-2.9,5.1,...,2.5,4.3,5.0,15.9,5.5,0.7,1.6,1.1,1.9,2.1
Import-weighted NOK exchange rate (44 countries),1.7,-1.4,2.3,-0.2,-4.4,-0.4,-0.4,2.5,-1.2,2.9,...,2.9,6.7,-5.3,1.2,8.5,0.8,-0.7,-1.0,0.0,0.0
Imports,0.4,1.7,5.0,5.4,5.6,8.8,12.6,9.2,-1.8,2.8,...,5.3,-9.9,1.8,13.3,-1.5,4.3,1.4,2.6,2.7,2.5
Imports of traditional goods,2.2,6.2,3.0,14.2,9.2,10.8,8.8,9.9,-2.4,3.6,...,6.2,-2.7,5.4,6.2,-6.2,3.8,2.3,2.0,2.8,2.6
Industries,-9.1,-5.4,3.9,13.2,17.6,20.5,5.2,10.3,-3.6,4.9,...,10.3,-5.3,3.2,2.7,2.9,-2.9,1.4,-2.0,0.9,0.4
Labor force,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,1.0,0.4,2.2,1.4,1.4,0.9,1.1,0.5,0.4,0.4
"Lending rate, credit loans (level)",<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,3.0,2.6,2.1,2.9,5.0,6.0,5.9,5.4,5.1,5.0
Money market rate (level),10.6,11.9,7.2,5.9,5.5,4.9,3.7,5.8,6.5,6.8,...,1.6,0.7,0.5,2.1,4.2,4.7,4.4,3.8,3.8,3.8
"Money market rate, euro (level)",<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,3.2,3.0,4.4,...,-0.4,-0.4,-0.5,0.3,3.4,3.6,2.1,1.8,2.1,2.3
NOK per euro (level),8.02,8.03,8.3,8.35,8.19,8.09,7.99,8.48,8.31,8.11,...,9.85,10.72,10.16,10.1,11.42,11.63,11.71,11.71,11.71,11.71
Participation rate (level),<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,70.5,70.4,72.1,72.6,72.8,72.7,73.0,72.9,72.9,72.9
"Real after-tax lending rate, banks (level)",5.5,6.6,5.2,4.0,2.5,3.3,1.2,2.5,3.1,2.1,...,0.2,0.7,-1.8,-3.3,-1.5,1.5,1.8,1.4,1.2,1.1
"Total hours worked, Mainland Norway",<NA>,<NA>,<NA>,<NA>,<NA>,1.8,2.7,2.6,0.8,-0.7,...,1.5,-2.1,2.4,3.5,0.6,0.3,0.5,1.4,1.2,0.3
Unemployment rate (level),<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,3.7,4.6,4.4,3.2,3.6,4.0,4.5,4.3,4.1,4.1
Wages per standard man-year,5.1,3.9,3.4,3.1,3.3,4.4,4.8,6.5,5.4,4.5,...,3.5,3.1,3.5,4.3,5.2,5.6,4.9,4.0,3.8,3.5

In "Economic Trends" the last 4 years are forecasting. 

Identify last 4 columns.

In [7]:
last_4_cols = df_12880_rotate.columns[-4:]

Set forecast font to blue. When styling I also have to explicit set the number of shown decimals.

In [8]:
styled_df_12880_rotate = df_12880_rotate.style.format(precision=1).set_properties(
    subset=last_4_cols,
    color='blue'
    )

In [9]:
styled_df_12880_rotate

## Using apidata

Using ```apidata``` you can also specify a query. In this query I limit years to be the last 15 years using filter "top"

In [10]:
query = {
  "query": [
    {
      "code": "ContentsCode",
      "selection": {
        "filter": "all",
        "values": [
          "*"
        ]
      }
    },
    {
      "code": "Tid",
      "selection": {
        "filter": "top",
        "values": [
           "15"
        ]
      }
    }
  ]
}

In [11]:
df_12880_apidata = apidata(table_url, query)

 INFO     | https://data.ssb.no/api/v0/en/table/12880/

In [12]:
df_12880_apidata

                          contents  year  value
0    Consumption in households etc  2014    2.1
1    Consumption in households etc  2015    2.7
2    Consumption in households etc  2016    1.1
3    Consumption in households etc  2017    2.2
4    Consumption in households etc  2018    1.4
..                             ...   ...    ...
640    Crude oil price NOK (level)  2024  856.0
641    Crude oil price NOK (level)  2025  713.0
642    Crude oil price NOK (level)  2026  650.0
643    Crude oil price NOK (level)  2027  654.0
644    Crude oil price NOK (level)  2028  662.0

[645 rows x 3 columns]

Pivot table

In [13]:
df_12880_apidata_rotate = apidata_rotate(df_12880_apidata, "contents", "value")

Set forecast figures to bold blue, left align table headings

In [14]:
styled_df_12880_apidata_rotate = df_12880_apidata_rotate.style.format(precision=1).set_properties(
    subset=last_4_cols,
    **{'color': 'blue', 'font-weight': 'bold'} 
).set_table_styles([
    {'selector': 'th.row_heading', 'props': [('text-align', 'left')]}
])

In [15]:
styled_df_12880_apidata_rotate

It is also possible to use apidata without query. Then all optional variables are excluded from the query, so-called elimination. For the table above, 12880, it makes no difference.

Here is an example with the Price Index for used homes. It shows the index for "The whole country" and "All housing types"

In [16]:
apidata_eliminated = apidata("https://data.ssb.no/api/v0/en/table/07221")

 INFO     | https://data.ssb.no/api/v0/en/table/07221

In [17]:
from statbank import apimetadata, apicodelist

In [18]:
meta = apimetadata(table_url)

In [19]:
meta

{'title': '12880: Main economic indicators. Accounts and forecasts, by contents and year',
 'variables': [{'code': 'ContentsCode',
   'text': 'contents',
   'values': ['KonsumHushold',
    'KonsumOffentl',
    'BtoInvFastReal',
    'BtoInvUtvRor',
    'BtoInvFastlNorge',
    'BtoInvNaring',
    'BtoInvBolig',
    'BtoInvOffForv',
    'EtterspFastland',
    'Eksport',
    'EkspTradVarer',
    'EkspOljeGass',
    'Import',
    'ImpTradVarer',
    'BNP',
    'BNPFastland',
    'BNPIndustri',
    'BNPLopPriser',
    'TimeverkFastland',
    'Sysselsatte',
    'ArbStyrke',
    'Yrkesandel',
    'ArbLedighet',
    'Aarslonn',
    'KPI',
    'KPIJAE',
    'EksportprisTrad',
    'ImportprisTrad',
    'Boligpris',
    'HusholdDisp',
    'HusholdSpare',
    'PengemRente',
    'UtlaanRente',
    'Realrente',
    'ImpVKroneKurs',
    'NOKperEuro',
    'Driftsbalanse',
    'DriftsbalanseBNP',
    'EksportMarked',
    'KonsumprisEuro',
    'PengemRenteEuro',
    'OljePrisDollar',
    'OljePrisKr'],
   'valueTexts': ['Consumption in households etc',
    'General government consumption',
    'Gross fixed investment',
    'Extraction and transport via pipelines',
    'Gross fixed investment mainland Norway',
    'Industries',
    'Housing',
    'General government',
    'Demand from Mainland Norway',
    'Exports',
    'Exports of traditional goods',
    'Exports of crude oil and natural gas',
    'Imports',
    'Imports of traditional goods',
    'Gross domestic product (GDP)',
    'GDP Mainland Norway',
    'GDP Manufacturing',
    'GDP in current prices (NOK billion)',
    'Total hours worked, Mainland Norway',
    'Employed persons',
    'Labor force',
    'Participation rate (level)',
    'Unemployment rate (level)',
    'Wages per standard man-year',
    'Consumer price index (CPI)',
    'CPI-ATE',
    'Export prices, traditional goods',
    'Import prices, traditional goods',
    'Housing prices',
    'Household real income',
    'Household saving ratio (level)',
    'Money market rate (level)',
    'Lending rate, credit loans (level)',
    'Real after-tax lending rate, banks (level)',
    'Import-weighted NOK exchange rate (44 countries)',
    'NOK per euro (level)',
    'Current balance (NOK billion)',
    'Current account (per cent of GDP)',
    'Exports markets indicator',
    'Consumer price index, euro-area',
    'Money market rate, euro (level)',
    'Crude oil price US dollar (level)',
    'Crude oil price NOK (level)']},
  {'code': 'Tid',
   'text': 'year',
   'values': ['1991',
    '1992',
    '1993',
    '1994',
    '1995',
    '1996',
    '1997',
    '1998',
    '1999',
    '2000',
    '2001',
    '2002',
    '2003',
    '2004',
    '2005',
    '2006',
    '2007',
    '2008',
    '2009',
    '2010',
    '2011',
    '2012',
    '2013',
    '2014',
    '2015',
    '2016',
    '2017',
    '2018',
    '2019',
    '2020',
    '2021',
    '2022',
    '2023',
    '2024',
    '2025',
    '2026',
    '2027',
    '2028'],
   'valueTexts': ['1991',
    '1992',
    '1993',
    '1994',
    '1995',
    '1996',
    '1997',
    '1998',
    '1999',
    '2000',
    '2001',
    '2002',
    '2003',
    '2004',
    '2005',
    '2006',
    '2007',
    '2008',
    '2009',
    '2010',
    '2011',
    '2012',
    '2013',
    '2014',
    '2015',
    '2016',
    '2017',
    '2018',
    '2019',
    '2020',
    '2021',
    '2022',
    '2023',
    '2024',
    '2025',
    '2026',
    '2027',
    '2028'],
   'time': True}]}

In [20]:
all_codelists = apicodelist(table_url)

In [21]:
all_codelists

{'ContentsCode': {'KonsumHushold': 'Consumption in households etc',
  'KonsumOffentl': 'General government consumption',
  'BtoInvFastReal': 'Gross fixed investment',
  'BtoInvUtvRor': 'Extraction and transport via pipelines',
  'BtoInvFastlNorge': 'Gross fixed investment mainland Norway',
  'BtoInvNaring': 'Industries',
  'BtoInvBolig': 'Housing',
  'BtoInvOffForv': 'General government',
  'EtterspFastland': 'Demand from Mainland Norway',
  'Eksport': 'Exports',
  'EkspTradVarer': 'Exports of traditional goods',
  'EkspOljeGass': 'Exports of crude oil and natural gas',
  'Import': 'Imports',
  'ImpTradVarer': 'Imports of traditional goods',
  'BNP': 'Gross domestic product (GDP)',
  'BNPFastland': 'GDP Mainland Norway',
  'BNPIndustri': 'GDP Manufacturing',
  'BNPLopPriser': 'GDP in current prices (NOK billion)',
  'TimeverkFastland': 'Total hours worked, Mainland Norway',
  'Sysselsatte': 'Employed persons',
  'ArbStyrke': 'Labor force',
  'Yrkesandel': 'Participation rate (level)',
  'ArbLedighet': 'Unemployment rate (level)',
  'Aarslonn': 'Wages per standard man-year',
  'KPI': 'Consumer price index (CPI)',
  'KPIJAE': 'CPI-ATE',
  'EksportprisTrad': 'Export prices, traditional goods',
  'ImportprisTrad': 'Import prices, traditional goods',
  'Boligpris': 'Housing prices',
  'HusholdDisp': 'Household real income',
  'HusholdSpare': 'Household saving ratio (level)',
  'PengemRente': 'Money market rate (level)',
  'UtlaanRente': 'Lending rate, credit loans (level)',
  'Realrente': 'Real after-tax lending rate, banks (level)',
  'ImpVKroneKurs': 'Import-weighted NOK exchange rate (44 countries)',
  'NOKperEuro': 'NOK per euro (level)',
  'Driftsbalanse': 'Current balance (NOK billion)',
  'DriftsbalanseBNP': 'Current account (per cent of GDP)',
  'EksportMarked': 'Exports markets indicator',
  'KonsumprisEuro': 'Consumer price index, euro-area',
  'PengemRenteEuro': 'Money market rate, euro (level)',
  'OljePrisDollar': 'Crude oil price US dollar (level)',
  'OljePrisKr': 'Crude oil price NOK (level)'},
 'Tid': {'1991': '1991',
  '1992': '1992',
  '1993': '1993',
  '1994': '1994',
  '1995': '1995',
  '1996': '1996',
  '1997': '1997',
  '1998': '1998',
  '1999': '1999',
  '2000': '2000',
  '2001': '2001',
  '2002': '2002',
  '2003': '2003',
  '2004': '2004',
  '2005': '2005',
  '2006': '2006',
  '2007': '2007',
  '2008': '2008',
  '2009': '2009',
  '2010': '2010',
  '2011': '2011',
  '2012': '2012',
  '2013': '2013',
  '2014': '2014',
  '2015': '2015',
  '2016': '2016',
  '2017': '2017',
  '2018': '2018',
  '2019': '2019',
  '2020': '2020',
  '2021': '2021',
  '2022': '2022',
  '2023': '2023',
  '2024': '2024',
  '2025': '2025',
  '2026': '2026',
  '2027': '2027',
  '2028': '2028'}}

In [22]:
contentscode_codelist = apicodelist(table_url, "ContentsCode")

In [23]:
contentscode_codelist

{'KonsumHushold': 'Consumption in households etc',
 'KonsumOffentl': 'General government consumption',
 'BtoInvFastReal': 'Gross fixed investment',
 'BtoInvUtvRor': 'Extraction and transport via pipelines',
 'BtoInvFastlNorge': 'Gross fixed investment mainland Norway',
 'BtoInvNaring': 'Industries',
 'BtoInvBolig': 'Housing',
 'BtoInvOffForv': 'General government',
 'EtterspFastland': 'Demand from Mainland Norway',
 'Eksport': 'Exports',
 'EkspTradVarer': 'Exports of traditional goods',
 'EkspOljeGass': 'Exports of crude oil and natural gas',
 'Import': 'Imports',
 'ImpTradVarer': 'Imports of traditional goods',
 'BNP': 'Gross domestic product (GDP)',
 'BNPFastland': 'GDP Mainland Norway',
 'BNPIndustri': 'GDP Manufacturing',
 'BNPLopPriser': 'GDP in current prices (NOK billion)',
 'TimeverkFastland': 'Total hours worked, Mainland Norway',
 'Sysselsatte': 'Employed persons',
 'ArbStyrke': 'Labor force',
 'Yrkesandel': 'Participation rate (level)',
 'ArbLedighet': 'Unemployment rate (level)',
 'Aarslonn': 'Wages per standard man-year',
 'KPI': 'Consumer price index (CPI)',
 'KPIJAE': 'CPI-ATE',
 'EksportprisTrad': 'Export prices, traditional goods',
 'ImportprisTrad': 'Import prices, traditional goods',
 'Boligpris': 'Housing prices',
 'HusholdDisp': 'Household real income',
 'HusholdSpare': 'Household saving ratio (level)',
 'PengemRente': 'Money market rate (level)',
 'UtlaanRente': 'Lending rate, credit loans (level)',
 'Realrente': 'Real after-tax lending rate, banks (level)',
 'ImpVKroneKurs': 'Import-weighted NOK exchange rate (44 countries)',
 'NOKperEuro': 'NOK per euro (level)',
 'Driftsbalanse': 'Current balance (NOK billion)',
 'DriftsbalanseBNP': 'Current account (per cent of GDP)',
 'EksportMarked': 'Exports markets indicator',
 'KonsumprisEuro': 'Consumer price index, euro-area',
 'PengemRenteEuro': 'Money market rate, euro (level)',
 'OljePrisDollar': 'Crude oil price US dollar (level)',
 'OljePrisKr': 'Crude oil price NOK (level)'}

The option _include_id=True_ returns both Code and Text

In [24]:
df_12880_apidata_id = apidata(table_url, query, include_id=True)

 INFO     | https://data.ssb.no/api/v0/en/table/12880/

In [25]:
df_12880_apidata_id

      ContentsCode                       contents   Tid  year  value
0    KonsumHushold  Consumption in households etc  2014  2014    2.1
1    KonsumHushold  Consumption in households etc  2015  2015    2.7
2    KonsumHushold  Consumption in households etc  2016  2016    1.1
3    KonsumHushold  Consumption in households etc  2017  2017    2.2
4    KonsumHushold  Consumption in households etc  2018  2018    1.4
..             ...                            ...   ...   ...    ...
640     OljePrisKr    Crude oil price NOK (level)  2024  2024  856.0
641     OljePrisKr    Crude oil price NOK (level)  2025  2025  713.0
642     OljePrisKr    Crude oil price NOK (level)  2026  2026  650.0
643     OljePrisKr    Crude oil price NOK (level)  2027  2027  654.0
644     OljePrisKr    Crude oil price NOK (level)  2028  2028  662.0

[645 rows x 5 columns]

### Other countries

It is possible to use dapla-statbank-client towards other statistical agencies who use PxWeb. Here is an example from Statistics Sweden.

In [26]:
scb_apidata_all = apidata_all("https://api.scb.se/OV0104/v1/doris/sv/ssd/BE/BE0101/BE0101A/BefolkningR1860N")

 INFO     | https://api.scb.se/OV0104/v1/doris/sv/ssd/BE/BE0101/BE0101A/BefolkningR1860N

In [27]:
scb_apidata_all

              ålder      kön tabellinnehåll    år    value
0              0 år      män          Antal  1860    60589
1              0 år      män          Antal  1861    59797
2              0 år      män          Antal  1862    62371
3              0 år      män          Antal  1863    61515
4              0 år      män          Antal  1864    61931
...             ...      ...            ...   ...      ...
36955  totalt ålder  kvinnor          Antal  2020  5156448
36956  totalt ålder  kvinnor          Antal  2021  5191619
36957  totalt ålder  kvinnor          Antal  2022  5223232
36958  totalt ålder  kvinnor          Antal  2023  5239188
36959  totalt ålder  kvinnor          Antal  2024  5262925

[36960 rows x 5 columns]

Example from Statistics Finland

In [28]:
statfi_apidata_all= apidata_all("https://pxdata.stat.fi/PXWeb/api/v1/en/StatFin/kuol/statfin_kuol_pxt_12af.px")

 INFO     | https://pxdata.stat.fi/PXWeb/api/v1/en/StatFin/kuol/statfin_kuol_pxt_12af.px

In [29]:
statfi_apidata_all

     Year      Sex Information  value
0    1751    Total      Deaths  10475
1    1751    Males      Deaths   5149
2    1751  Females      Deaths   5326
3    1752    Total      Deaths  11400
4    1752    Males      Deaths   5702
..    ...      ...         ...    ...
817  2023    Males      Deaths  31133
818  2023  Females      Deaths  30206
819  2024    Total      Deaths  58267
820  2024    Males      Deaths  29613
821  2024  Females      Deaths  28654

[822 rows x 4 columns]

Same as over with ```apidata```

In [30]:
apidata("https://pxdata.stat.fi/PXWeb/api/v1/en/StatFin/kuol/statfin_kuol_pxt_12af.px")

 INFO     | https://pxdata.stat.fi/PXWeb/api/v1/en/StatFin/kuol/statfin_kuol_pxt_12af.px

     Year Information  value
0    1751      Deaths  10475
1    1752      Deaths  11400
2    1753      Deaths  11502
3    1754      Deaths  15696
4    1755      Deaths  13928
..    ...         ...    ...
269  2020      Deaths  55488
270  2021      Deaths  57659
271  2022      Deaths  63219
272  2023      Deaths  61339
273  2024      Deaths  58267

[274 rows x 3 columns]