# Eksempler på bruk av Klass fra Python 
Hvordan hente:
1. klassifikasjon
2. versjon
3. endringer
4. korrespondansetabell som CSV
5. variant som CSV
6. korrespondansetabell som JSON med biblioteket jmespath
7. variant som som JSON med biblioteket jmespath

Klass - Klassifikasjoner og kodelister. 
Se også Klass API dokumentasjon: [Klass API guide](https://data.ssb.no/api/klass/v1/api-guide.html)

### 1. Et enkelt eksempel: Klassifikasjon - dagens kommuner

Vi importerer Python Pandas, som kan angis som pd

In [1]:
# Pandas gjør dataanalyse i Python enklere
import pandas as pd

# requests for å hente data
import requests

Eksempelet henter gyldige koder fra Standard for kommuneinndeling.

Adressen i Klass er https://www.ssb.no/klass/klassifikasjoner/131/

131 = ID til klassifikasjonen

Vi henter gyldige koder som JSON via Klass API med [codesAt](https://data.ssb.no/api/klass/v1/api-guide.html#_codesat):

In [2]:
URL1 = 'https://data.ssb.no/api/klass/v1/classifications/131/codesAt.json?date=2021-01-19'

Siden dette er json kan vi bruke [Pandas read_json()]('https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_json.html'). Den kan ta nettadresser direkte.

In [3]:
dataframe1 = pd.read_json(URL1)
dataframe1

                                                 codes
0    {'code': '0301', 'parentCode': None, 'level': ...
1    {'code': '1101', 'parentCode': None, 'level': ...
2    {'code': '1103', 'parentCode': None, 'level': ...
3    {'code': '1106', 'parentCode': None, 'level': ...
4    {'code': '1108', 'parentCode': None, 'level': ...
..                                                 ...
352  {'code': '5441', 'parentCode': None, 'level': ...
353  {'code': '5442', 'parentCode': None, 'level': ...
354  {'code': '5443', 'parentCode': None, 'level': ...
355  {'code': '5444', 'parentCode': None, 'level': ...
356  {'code': '9999', 'parentCode': None, 'level': ...

[357 rows x 1 columns]

Alt ligger i en kolonne 'codes'. Vi må i tillegg bruke Pandas [json_normalize](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.json_normalize.html).

Vi gir dataframe1\['codes'\] som input

In [4]:
kommuner2020 = pd.json_normalize(dataframe1['codes'])
kommuner2020

,code,parentCode,level,name,shortName,presentationName,validFrom,validTo,notes
0,0301,None,1,Oslo,,,None,None,
1,1101,None,1,Eigersund,,,None,None,
2,1103,None,1,Stavanger,,,None,None,
3,1106,None,1,Haugesund,,,None,None,
4,1108,None,1,Sandnes,,,None,None,
...,...,...,...,...,...,...,...,...,...
352,5441,None,1,Deatnu - Tana,,,None,None,
353,5442,None,1,Unjárga - Nesseby,,,None,None,
354,5443,None,1,Båtsfjord,,,None,None,
355,5444,None,1,Sør-Varanger,,,None,None,
356,9999,None,1,Uoppgitt,,,None,None,

### 2. Henter Standard for kommuneinndeling med endringer fra og med  1.1.2017 
 
Url til Klass API. Nå bruker vi [codes](https://data.ssb.no/api/klass/v1/api-guide.html#_codes) med fra-og-med dato. Id er fortsatt 131 og vi angir .json slik:

In [5]:
URL2 = 'https://data.ssb.no/api/klass/v1/classifications/131/codes.json?from=2017-01-01'

to= parameteren for tid er ikke nødvendig og kan med fordel utelukkes om en vil ha med endringer.

Leser URL2 som json til dataframe2

In [6]:
dataframe2 = pd.read_json(URL2)
dataframe2.head()

                                               codes
0  {'code': '0101', 'parentCode': None, 'level': ...
1  {'code': '0104', 'parentCode': None, 'level': ...
2  {'code': '0105', 'parentCode': None, 'level': ...
3  {'code': '0106', 'parentCode': None, 'level': ...
4  {'code': '0111', 'parentCode': None, 'level': ...

Vi bruker Pandas json_normalize

In [7]:
kommuner_fra2017 = pd.json_normalize(dataframe2['codes'])

In [8]:
kommuner_fra2017

,code,parentCode,level,name,shortName,presentationName,validFrom,validTo,validFromInRequestedRange,validToInRequestedRange,notes
0,0101,None,1,Halden,,,None,None,2017-01-01,2020-01-01,
1,0104,None,1,Moss,,,None,None,2017-01-01,2020-01-01,
2,0105,None,1,Sarpsborg,,,None,None,2017-01-01,2020-01-01,
3,0106,None,1,Fredrikstad,,,None,None,2017-01-01,2020-01-01,
4,0111,None,1,Hvaler,,,None,None,2017-01-01,2020-01-01,
...,...,...,...,...,...,...,...,...,...,...,...
731,5441,None,1,Deatnu - Tana,,,None,None,2020-01-01,None,
732,5442,None,1,Unjárga - Nesseby,,,None,None,2020-01-01,None,
733,5443,None,1,Båtsfjord,,,None,None,2020-01-01,None,
734,5444,None,1,Sør-Varanger,,,None,None,2020-01-01,None,
735,9999,None,1,Uoppgitt,,,None,None,2017-01-01,None,

Vi bruker [drop]('https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_json.html') for å fjerne unødvendige kolonner.

In [9]:
kommuner_fra2017 = kommuner_fra2017.drop(columns=['parentCode', 'level', 'shortName', 'presentationName'])
kommuner_fra2017.head()

,code,name,validFrom,validTo,validFromInRequestedRange,validToInRequestedRange,notes
0,0101,Halden,None,None,2017-01-01,2020-01-01,
1,0104,Moss,None,None,2017-01-01,2020-01-01,
2,0105,Sarpsborg,None,None,2017-01-01,2020-01-01,
3,0106,Fredrikstad,None,None,2017-01-01,2020-01-01,
4,0111,Hvaler,None,None,2017-01-01,2020-01-01,

Vi setter code som inneholder kommunenummer som index

In [10]:
kommuner_fra2017 = kommuner_fra2017.set_index('code')

In [11]:
kommuner_fra2017.tail()

,name,validFrom,validTo,validFromInRequestedRange,validToInRequestedRange,notes
code,,,,,,
5441,Deatnu - Tana,None,None,2020-01-01,None,
5442,Unjárga - Nesseby,None,None,2020-01-01,None,
5443,Båtsfjord,None,None,2020-01-01,None,
5444,Sør-Varanger,None,None,2020-01-01,None,
9999,Uoppgitt,None,None,2017-01-01,None,

Finn kommunenummer og gyldighetsperiode for Holmestrand. Se gyldighetsperiodene

In [12]:
kommuner_fra2017.query('name == "Holmestrand"')

,name,validFrom,validTo,validFromInRequestedRange,validToInRequestedRange,notes
code,,,,,,
0702,Holmestrand,None,None,2017-01-01,2018-01-01,
0715,Holmestrand,None,None,2018-01-01,2020-01-01,
3802,Holmestrand,None,None,2020-01-01,None,

## Eksempel 3 Endringer i klassifikasjon og framtidige endringer
Her bruker vi *changes* og paramteren *includeFuture=True* for å få med revering av regionreformen

In [25]:
URL3 = 'https://data.ssb.no/api/klass/v1/classifications/131/changes.json?from=2019-01-01&includeFuture=True'

In [26]:
dataframe3= pd.read_json(URL3)
dataframe3

                                           codeChanges
0    {'oldCode': '1103', 'oldName': 'Stavanger', 'o...
1    {'oldCode': '1141', 'oldName': 'Finnøy', 'oldS...
2    {'oldCode': '1142', 'oldName': 'Rennesøy', 'ol...
3    {'oldCode': '1102', 'oldName': 'Sandnes', 'old...
4    {'oldCode': '1129', 'oldName': 'Forsand', 'old...
..                                                 ...
429  {'oldCode': '5441', 'oldName': 'Deatnu - Tana'...
430  {'oldCode': '5440', 'oldName': 'Berlevåg', 'ol...
431  {'oldCode': '5443', 'oldName': 'Båtsfjord', 'o...
432  {'oldCode': '5404', 'oldName': 'Vardø', 'oldSh...
433  {'oldCode': '5442', 'oldName': 'Unjárga - Ness...

[434 rows x 1 columns]

In [27]:
kommuneendringer_fra2019 = pd.json_normalize(dataframe3['codeChanges'])
kommuneendringer_fra2019

,oldCode,oldName,oldShortName,newCode,newName,newShortName,changeOccurred
0,1103,Stavanger,,1103,Stavanger,,2020-01-01
1,1141,Finnøy,,1103,Stavanger,,2020-01-01
2,1142,Rennesøy,,1103,Stavanger,,2020-01-01
3,1102,Sandnes,,1108,Sandnes,,2020-01-01
4,1129,Forsand,,1108,Sandnes,,2020-01-01
...,...,...,...,...,...,...,...
429,5441,Deatnu - Tana,,5628,Deatnu - Tana,,2024-01-01
430,5440,Berlevåg,,5630,Berlevåg,,2024-01-01
431,5443,Båtsfjord,,5632,Båtsfjord,,2024-01-01
432,5404,Vardø,,5634,Vardø,,2024-01-01
433,5442,Unjárga - Nesseby,,5636,Unjárga - Nesseby,,2024-01-01

### Eksempel 4. Korrespondansetabell med ID 639
Standard for reiselivsregioner. ID hentes herfra https://www.ssb.no/klass/klassifikasjoner/527/korrespondanser/639 

 Det *enkleste* er å hente dette som CSV i stedet med [Pandas read_csv]('https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html')
 
 JSON-output her er litt mer kompleks, så det er ikke mulig å gjøre det slik som over.

In [28]:
URL4 = 'https://data.ssb.no/api/klass/v1/correspondencetables/639.csv'

CSV i Klass er ikke UTF-8. Vi må sette tegnsett til ISO-8859-1 og skilletegn som er semikolon. Kodene er av typen 'string'. Da får vi med 0 først i koden.

In [17]:
dataframe4 = pd.read_csv(URL4, encoding = "ISO-8859-1", sep=';', dtype='str')
dataframe4.head()

  sourceCode       sourceName targetCode targetName
0      03101             Oslo       0301       Oslo
1      11101  Stavangerregion       1101  Eigersund
2      11101  Stavangerregion       1103  Stavanger
3      11101  Stavangerregion       1108    Sandnes
4      11101  Stavangerregion       1111    Sokndal

### Eksempel 5. Variant med ID 1121
Eurostats gruppering av varetyper. ID hentes herfra https://www.ssb.no/klass/klassifikasjoner/6/varianter/1121.

In [18]:
URL5 = 'https://data.ssb.no/api/klass/v1/variants/1121.csv'

Her detetekteres code automatisk som string. Dessuten er det nyttig at level er tall

In [19]:
dataframe5 = pd.read_csv(URL5, encoding = "ISO-8859-1", sep=';')
dataframe5.head(10)

,code,parentCode,level,name,shortName,notes,validFrom,validTo
0,05,E6,2,Bryting av steinkull og brunkull,NaN,NaN,NaN,NaN
1,06,E6,2,Utvinning av råolje og naturgass,NaN,NaN,NaN,NaN
2,07,E1,2,Bryting av metallholdig malm,NaN,NaN,NaN,NaN
3,08,E1,2,Bryting og bergverksdrift ellers,NaN,NaN,NaN,NaN
4,09,E1,2,Tjenester tilknyttet bergverksdrift og utvinning,NaN,NaN,NaN,NaN
5,10.1,E4,3,"Produksjon, bearbeiding og konservering av kjø...",NaN,NaN,NaN,NaN
6,10.2,E4,3,"Bearbeiding og konservering av fisk, skalldyr ...",NaN,NaN,NaN,NaN
7,10.3,E4,3,Bearbeiding og konservering av frukt og grønns...,NaN,NaN,NaN,NaN
8,10.4,E4,3,Produksjon av vegetabilske og animalske oljer ...,NaN,NaN,NaN,NaN
9,10.5,E4,3,Produksjon av meierivarer og iskrem,NaN,NaN,NaN,NaN

Her fjerner jeg helt tomme kolonner med [Pandas dropna]('https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.dropna.html'), som legges i ny dataframe3_min

In [20]:
dataframe5_min = dataframe5.dropna(axis='columns', how='all')
dataframe5_min

   code parentCode  level                                              name
0    05         E6      2                  Bryting av steinkull og brunkull
1    06         E6      2                  Utvinning av råolje og naturgass
2    07         E1      2                      Bryting av metallholdig malm
3    08         E1      2                  Bryting og bergverksdrift ellers
4    09         E1      2  Tjenester tilknyttet bergverksdrift og utvinning
..  ...        ...    ...                                               ...
76   E2        NaN      1                                 Investeringsvarer
77   E3         E5      2                                Varige konsumvarer
78   E4         E5      2                           Ikke-varige konsumvarer
79   E5        NaN      1                                       Konsumvarer
80   E6        NaN      1                                       Energivarer

[81 rows x 4 columns]

## Eksempel 6. Hente korrespondansetabell som json

Her bruker jeg jmespath, som er et 'JSON query language'. Se https://jmespath.org. For Python kan det installeres med 'pip install jmespath'

In [21]:
import jmespath

ModuleNotFoundError: No module named 'jmespath'

In [29]:
URL6 = 'https://data.ssb.no/api/klass/v1/correspondencetables/639.json'

In [30]:
payload = requests.get(url = URL6)

I URL-en har vi angitt at Klass skal gi json, men vi må også angi at innholdet skal være JSON.

In [31]:
dataset6 = payload.json()

In [32]:
type(dataset6)

dict

In [33]:
dataset6

{'name': 'Reiselivsregioner 2020 - Kommuneinndeling 2020',
 'contactPerson': {'name': 'Aasestad, Kristin',
  'email': 'Kristin.Aasestad@ssb.no',
  'phone': '40902344'},
 'owningSection': '422 - Seksjon for næringslivets konjunkturer',
 'source': 'Reiselivsregioner 2020',
 'sourceId': 1439,
 'target': 'Kommuneinndeling 2020',
 'targetId': 1160,
 'changeTable': False,
 'lastModified': '2021-01-14T10:32:51.000+0000',
 'published': ['nb', 'nn', 'en'],
 'sourceLevel': None,
 'targetLevel': None,
 'description': 'Korrespondansetabellen viser sammenhengen mellom versjoner av to ulike kodeverk, f.eks. sammenhengen mellom Reiselivsregion 2020 og Kommuneinndeling 2020 (hvilke kommuner tilhører hvilke reiselivsregion). Dersom du ønsker å se forskjellen mellom to påfølgende versjoner av samme kodeliste, f.eks. mellom Kommuneinndeling 2020 og Kommuneinndeling 2018, finner du den under fanen «Endringer».',
 'changelogs': [{'changeOccured': '2020-12-17T13:28:28.000+0000',
   'description': 'Hamarøy lagt til i Lofoten '},
  {'changeOccured': '2021-01-04T11:57:30.000+0000',
   'description': 'Duplikat fjernet med Lødingen. '},
  {'changeOccured': '2021-01-14T10:32:51.000+0000',
   'description': 'Lødingen endret etter feil. Fra Salten regionen til Narvik/Vesterålen. '}],
 'correspondenceMaps': [{'sourceCode': '03101',
   'sourceName': 'Oslo',
   'targetCode': '0301',
   'targetName': 'Oslo'},
  {'sourceCode': '11101',
   'sourceName': 'Stavangerregion',
   'targetCode': '1101',
   'targetName': 'Eigersund'},
  {'sourceCode': '11101',
   'sourceName': 'Stavangerregion',
   'targetCode': '1103',
   'targetName': 'Stavanger'},
  {'sourceCode': '11101',
   'sourceName': 'Stavangerregion',
   'targetCode': '1108',
   'targetName': 'Sandnes'},
  {'sourceCode': '11101',
   'sourceName': 'Stavangerregion',
   'targetCode': '1111',
   'targetName': 'Sokndal'},
  {'sourceCode': '11101',
   'sourceName': 'Stavangerregion',
   'targetCode': '1112',
   'targetName': 'Lund'},
  {'sourceCode': '11101',
   'sourceName': 'Stavangerregion',
   'targetCode': '1114',
   'targetName': 'Bjerkreim'},
  {'sourceCode': '11101',
   'sourceName': 'Stavangerregion',
   'targetCode': '1119',
   'targetName': 'Hå'},
  {'sourceCode': '11101',
   'sourceName': 'Stavangerregion',
   'targetCode': '1120',
   'targetName': 'Klepp'},
  {'sourceCode': '11101',
   'sourceName': 'Stavangerregion',
   'targetCode': '1121',
   'targetName': 'Time'},
  {'sourceCode': '11101',
   'sourceName': 'Stavangerregion',
   'targetCode': '1122',
   'targetName': 'Gjesdal'},
  {'sourceCode': '11101',
   'sourceName': 'Stavangerregion',
   'targetCode': '1124',
   'targetName': 'Sola'},
  {'sourceCode': '11101',
   'sourceName': 'Stavangerregion',
   'targetCode': '1127',
   'targetName': 'Randaberg'},
  {'sourceCode': '11102',
   'sourceName': 'Haugesund/Haugeland',
   'targetCode': '1106',
   'targetName': 'Haugesund'},
  {'sourceCode': '11102',
   'sourceName': 'Haugesund/Haugeland',
   'targetCode': '1145',
   'targetName': 'Bokn'},
  {'sourceCode': '11102',
   'sourceName': 'Haugesund/Haugeland',
   'targetCode': '1146',
   'targetName': 'Tysvær'},
  {'sourceCode': '11102',
   'sourceName': 'Haugesund/Haugeland',
   'targetCode': '1149',
   'targetName': 'Karmøy'},
  {'sourceCode': '11102',
   'sourceName': 'Haugesund/Haugeland',
   'targetCode': '1151',
   'targetName': 'Utsira'},
  {'sourceCode': '11102',
   'sourceName': 'Haugesund/Haugeland',
   'targetCode': '1160',
   'targetName': 'Vindafjord'},
  {'sourceCode': '11103',
   'sourceName': 'Ryfylke',
   'targetCode': '1130',
   'targetName': 'Strand'},
  {'sourceCode': '11103',
   'sourceName': 'Ryfylke',
   'targetCode': '1133',
   'targetName': 'Hjelmeland'},
  {'sourceCode': '11103',
   'sourceName': 'Ryfylke',
   'targetCode': '1134',
   'targetName': 'Suldal'},
  {'sourceCode': '11103',
   'sourceName': 'Ryfylke',
   'targetCode': '1135',
   'targetName': 'Sauda'},
  {'sourceCode': '11103',
   'sourceName': 'Ryfylke',
   'targetCode': '1144',
   'targetName': 'Kvitsøy'},
  {'sourceCode': '15101',
   'sourceName': 'Nordmøre/Romsdal',
   'targetCode': '1505',
   'targetName': 'Kristiansund'},
  {'sourceCode': '15101',
   'sourceName': 'Nordmøre/Romsdal',
   'targetCode': '1506',
   'targetName': 'Molde'},
  {'sourceCode': '15101',
   'sourceName': 'Nordmøre/Romsdal',
   'targetCode': '1535',
   'targetName': 'Vestnes'},
  {'sourceCode': '15101',
   'sourceName': 'Nordmøre/Romsdal',
   'targetCode': '1539',
   'targetName': 'Rauma'},
  {'sourceCode': '15101',
   'sourceName': 'Nordmøre/Romsdal',
   'targetCode': '1547',
   'targetName': 'Aukra'},
  {'sourceCode': '15101',
   'sourceName': 'Nordmøre/Romsdal',
   'targetCode': '1554',
   'targetName': 'Averøy'},
  {'sourceCode': '15101',
   'sourceName': 'Nordmøre/Romsdal',
   'targetCode': '1557',
   'targetName': 'Gjemnes'},
  {'sourceCode': '15101',
   'sourceName': 'Nordmøre/Romsdal',
   'targetCode': '1560',
   'targetName': 'Tingvoll'},
  {'sourceCode': '15101',
   'sourceName': 'Nordmøre/Romsdal',
   'targetCode': '1563',
   'targetName': 'Sunndal'},
  {'sourceCode': '15101',
   'sourceName': 'Nordmøre/Romsdal',
   'targetCode': '1566',
   'targetName': 'Surnadal'},
  {'sourceCode': '15101',
   'sourceName': 'Nordmøre/Romsdal',
   'targetCode': '1573',
   'targetName': 'Smøla'},
  {'sourceCode': '15101',
   'sourceName': 'Nordmøre/Romsdal',
   'targetCode': '1576',
   'targetName': 'Aure'},
  {'sourceCode': '15101',
   'sourceName': 'Nordmøre/Romsdal',
   'targetCode': '1579',
   'targetName': 'Hustadvika'},
  {'sourceCode': '15102',
   'sourceName': 'Ålesund/Sunnmøre',
   'targetCode': '1507',
   'targetName': 'Ålesund'},
  {'sourceCode': '15102',
   'sourceName': 'Ålesund/Sunnmøre',
   'targetCode': '1511',
   'targetName': 'Vanylven'},
  {'sourceCode': '15102',
   'sourceName': 'Ålesund/Sunnmøre',
   'targetCode': '1514',
   'targetName': 'Sande'},
  {'sourceCode': '15102',
   'sourceName': 'Ålesund/Sunnmøre',
   'targetCode': '1515',
   'targetName': 'Herøy (Møre og Romsdal)'},
  {'sourceCode': '15102',
   'sourceName': 'Ålesund/Sunnmøre',
   'targetCode': '1516',
   'targetName': 'Ulstein'},
  {'sourceCode': '15102',
   'sourceName': 'Ålesund/Sunnmøre',
   'targetCode': '1517',
   'targetName': 'Hareid'},
  {'sourceCode': '15102',
   'sourceName': 'Ålesund/Sunnmøre',
   'targetCode': '1520',
   'targetName': 'Ørsta'},
  {'sourceCode': '15102',
   'sourceName': 'Ålesund/Sunnmøre',
   'targetCode': '1525',
   'targetName': 'Stranda'},
  {'sourceCode': '15102',
   'sourceName': 'Ålesund/Sunnmøre',
   'targetCode': '1528',
   'targetName': 'Sykkylven'},
  {'sourceCode': '15102',
   'sourceName': 'Ålesund/Sunnmøre',
   'targetCode': '1531',
   'targetName': 'Sula'},
  {'sourceCode': '15102',
   'sourceName': 'Ålesund/Sunnmøre',
   'targetCode': '1532',
   'targetName': 'Giske'},
  {'sourceCode': '15102',
   'sourceName': 'Ålesund/Sunnmøre',
   'targetCode': '1577',
   'targetName': 'Volda'},
  {'sourceCode': '15102',
   'sourceName': 'Ålesund/Sunnmøre',
   'targetCode': '1578',
   'targetName': 'Fjord'},
  {'sourceCode': '18101',
   'sourceName': 'Bodø',
   'targetCode': '1804',
   'targetName': 'Bodø'},
  {'sourceCode': '18102',
   'sourceName': 'Vesterålen/Narvik',
   'targetCode': '1806',
   'targetName': 'Narvik'},
  {'sourceCode': '18102',
   'sourceName': 'Vesterålen/Narvik',
   'targetCode': '1851',
   'targetName': 'Lødingen'},
  {'sourceCode': '18102',
   'sourceName': 'Vesterålen/Narvik',
   'targetCode': '1853',
   'targetName': 'Evenes'},
  {'sourceCode': '18102',
   'sourceName': 'Vesterålen/Narvik',
   'targetCode': '1866',
   'targetName': 'Hadsel'},
  {'sourceCode': '18102',
   'sourceName': 'Vesterålen/Narvik',
   'targetCode': '1867',
   'targetName': 'Bø'},
  {'sourceCode': '18102',
   'sourceName': 'Vesterålen/Narvik',
   'targetCode': '1868',
   'targetName': 'Øksnes'},
  {'sourceCode': '18102',
   'sourceName': 'Vesterålen/Narvik',
   'targetCode': '1870',
   'targetName': 'Sortland - Suortá'},
  {'sourceCode': '18102',
   'sourceName': 'Vesterålen/Narvik',
   'targetCode': '1871',
   'targetName': 'Andøy'},
  {'sourceCode': '18103',
   'sourceName': 'Helgeland',
   'targetCode': '1811',
   'targetName': 'Bindal'},
  {'sourceCode': '18103',
   'sourceName': 'Helgeland',
   'targetCode': '1812',
   'targetName': 'Sømna'},
  {'sourceCode': '18103',
   'sourceName': 'Helgeland',
   'targetCode': '1813',
   'targetName': 'Brønnøy'},
  {'sourceCode': '18103',
   'sourceName': 'Helgeland',
   'targetCode': '1815',
   'targetName': 'Vega'},
  {'sourceCode': '18103',
   'sourceName': 'Helgeland',
   'targetCode': '1816',
   'targetName': 'Vevelstad'},
  {'sourceCode': '18103',
   'sourceName': 'Helgeland',
   'targetCode': '1818',
   'targetName': 'Herøy (Nordland)'},
  {'sourceCode': '18103',
   'sourceName': 'Helgeland',
   'targetCode': '1820',
   'targetName': 'Alstahaug'},
  {'sourceCode': '18103',
   'sourceName': 'Helgeland',
   'targetCode': '1822',
   'targetName': 'Leirfjord'},
  {'sourceCode': '18103',
   'sourceName': 'Helgeland',
   'targetCode': '1824',
   'targetName': 'Vefsn'},
  {'sourceCode': '18103',
   'sourceName': 'Helgeland',
   'targetCode': '1825',
   'targetName': 'Grane'},
  {'sourceCode': '18103',
   'sourceName': 'Helgeland',
   'targetCode': '1826',
   'targetName': 'Aarborte - Hattfjelldal'},
  {'sourceCode': '18103',
   'sourceName': 'Helgeland',
   'targetCode': '1827',
   'targetName': 'Dønna'},
  {'sourceCode': '18103',
   'sourceName': 'Helgeland',
   'targetCode': '1828',
   'targetName': 'Nesna'},
  {'sourceCode': '18103',
   'sourceName': 'Helgeland',
   'targetCode': '1832',
   'targetName': 'Hemnes'},
  {'sourceCode': '18103',
   'sourceName': 'Helgeland',
   'targetCode': '1833',
   'targetName': 'Rana'},
  {'sourceCode': '18103',
   'sourceName': 'Helgeland',
   'targetCode': '1834',
   'targetName': 'Lurøy'},
  {'sourceCode': '18103',
   'sourceName': 'Helgeland',
   'targetCode': '1835',
   'targetName': 'Træna'},
  {'sourceCode': '18103',
   'sourceName': 'Helgeland',
   'targetCode': '1836',
   'targetName': 'Rødøy'},
  {'sourceCode': '18104',
   'sourceName': 'Salten-region',
   'targetCode': '1837',
   'targetName': 'Meløy'},
  {'sourceCode': '18104',
   'sourceName': 'Salten-region',
   'targetCode': '1838',
   'targetName': 'Gildeskål'},
  {'sourceCode': '18104',
   'sourceName': 'Salten-region',
   'targetCode': '1839',
   'targetName': 'Beiarn'},
  {'sourceCode': '18104',
   'sourceName': 'Salten-region',
   'targetCode': '1840',
   'targetName': 'Saltdal'},
  {'sourceCode': '18104',
   'sourceName': 'Salten-region',
   'targetCode': '1841',
   'targetName': 'Fauske - Fuossko'},
  {'sourceCode': '18104',
   'sourceName': 'Salten-region',
   'targetCode': '1845',
   'targetName': 'Sørfold'},
  {'sourceCode': '18104',
   'sourceName': 'Salten-region',
   'targetCode': '1848',
   'targetName': 'Steigen'},
  {'sourceCode': '18104',
   'sourceName': 'Salten-region',
   'targetCode': '1875',
   'targetName': 'Hábmer - Hamarøy'},
  {'sourceCode': '18105',
   'sourceName': 'Lofoten',
   'targetCode': '1856',
   'targetName': 'Røst'},
  {'sourceCode': '18105',
   'sourceName': 'Lofoten',
   'targetCode': '1857',
   'targetName': 'Værøy'},
  {'sourceCode': '18105',
   'sourceName': 'Lofoten',
   'targetCode': '1859',
   'targetName': 'Flakstad'},
  {'sourceCode': '18105',
   'sourceName': 'Lofoten',
   'targetCode': '1860',
   'targetName': 'Vestvågøy'},
  {'sourceCode': '18105',
   'sourceName': 'Lofoten',
   'targetCode': '1865',
   'targetName': 'Vågan'},
  {'sourceCode': '18105',
   'sourceName': 'Lofoten',
   'targetCode': '1874',
   'targetName': 'Moskenes'},
  {'sourceCode': '30101',
   'sourceName': 'Haldenkanalen',
   'targetCode': '3001',
   'targetName': 'Halden'},
  {'sourceCode': '30101',
   'sourceName': 'Haldenkanalen',
   'targetCode': '3012',
   'targetName': 'Aremark'},
  {'sourceCode': '30101',
   'sourceName': 'Haldenkanalen',
   'targetCode': '3013',
   'targetName': 'Marker'},
  {'sourceCode': '30101',
   'sourceName': 'Haldenkanalen',
   'targetCode': '3014',
   'targetName': 'Indre Østfold'},
  {'sourceCode': '30101',
   'sourceName': 'Haldenkanalen',
   'targetCode': '3015',
   'targetName': 'Skiptvet'},
  {'sourceCode': '30101',
   'sourceName': 'Haldenkanalen',
   'targetCode': '3016',
   'targetName': 'Rakkestad'},
  {'sourceCode': '30102',
   'sourceName': 'Mosseregion',
   'targetCode': '3002',
   'targetName': 'Moss'},
  {'sourceCode': '30102',
   'sourceName': 'Mosseregion',
   'targetCode': '3017',
   'targetName': 'Råde'},
  {'sourceCode': '30102',
   'sourceName': 'Mosseregion',
   'targetCode': '3018',
   'targetName': 'Våler (Viken)'},
  {'sourceCode': '30103',
   'sourceName': 'Sarpsborg',
   'targetCode': '3003',
   'targetName': 'Sarpsborg'},
  {'sourceCode': '30104',
   'sourceName': 'Fredrikstad/Hvaler',
   'targetCode': '3004',
   'targetName': 'Fredrikstad'},
  {'sourceCode': '30104',
   'sourceName': 'Fredrikstad/Hvaler',
   'targetCode': '3011',
   'targetName': 'Hvaler'},
  {'sourceCode': '30105',
   'sourceName': 'Drammensregion',
   'targetCode': '3005',
   'targetName': 'Drammen'},
  {'sourceCode': '30105',
   'sourceName': 'Drammensregion',
   'targetCode': '3048',
   'targetName': 'Øvre Eiker'},
  {'sourceCode': '30105',
   'sourceName': 'Drammensregion',
   'targetCode': '3049',
   'targetName': 'Lier'},
  {'sourceCode': '30106',
   'sourceName': 'Kongsbergregion',
   'targetCode': '3006',
   'targetName': 'Kongsberg'},
  {'sourceCode': '30106',
   'sourceName': 'Kongsbergregion',
   'targetCode': '3050',
   'targetName': 'Flesberg'},
  {'sourceCode': '30106',
   'sourceName': 'Kongsbergregion',
   'targetCode': '3051',
   'targetName': 'Rollag'},
  {'sourceCode': '30106',
   'sourceName': 'Kongsbergregion',
   'targetCode': '3052',
   'targetName': 'Nore og Uvdal'},
  {'sourceCode': '30107',
   'sourceName': 'Hadeland/Ringerike',
   'targetCode': '3007',
   'targetName': 'Ringerike'},
  {'sourceCode': '30107',
   'sourceName': 'Hadeland/Ringerike',
   'targetCode': '3038',
   'targetName': 'Hole'},
  {'sourceCode': '30107',
   'sourceName': 'Hadeland/Ringerike',
   'targetCode': '3053',
   'targetName': 'Jevnaker'},
  {'sourceCode': '30107',
   'sourceName': 'Hadeland/Ringerike',
   'targetCode': '3054',
   'targetName': 'Lunner'},
  {'sourceCode': '30108',
   'sourceName': 'Follo',
   'targetCode': '3019',
   'targetName': 'Vestby'},
  {'sourceCode': '30108',
   'sourceName': 'Follo',
   'targetCode': '3020',
   'targetName': 'Nordre Follo'},
  {'sourceCode': '30108',
   'sourceName': 'Follo',
   'targetCode': '3021',
   'targetName': 'Ås'},
  {'sourceCode': '30108',
   'sourceName': 'Follo',
   'targetCode': '3022',
   'targetName': 'Frogn'},
  {'sourceCode': '30108',
   'sourceName': 'Follo',
   'targetCode': '3023',
   'targetName': 'Nesodden'},
  {'sourceCode': '30108',
   'sourceName': 'Follo',
   'targetCode': '3028',
   'targetName': 'Enebakk'},
  {'sourceCode': '30109',
   'sourceName': 'Asker/Bærum',
   'targetCode': '3024',
   'targetName': 'Bærum'},
  {'sourceCode': '30109',
   'sourceName': 'Asker/Bærum',
   'targetCode': '3025',
   'targetName': 'Asker'},
  {'sourceCode': '30110',
   'sourceName': 'Romerike',
   'targetCode': '3026',
   'targetName': 'Aurskog-Høland'},
  {'sourceCode': '30110',
   'sourceName': 'Romerike',
   'targetCode': '3027',
   'targetName': 'Rælingen'},
  {'sourceCode': '30110',
   'sourceName': 'Romerike',
   'targetCode': '3029',
   'targetName': 'Lørenskog'},
  {'sourceCode': '30110',
   'sourceName': 'Romerike',
   'targetCode': '3030',
   'targetName': 'Lillestrøm'},
  {'sourceCode': '30110',
   'sourceName': 'Romerike',
   'targetCode': '3031',
   'targetName': 'Nittedal'},
  {'sourceCode': '30110',
   'sourceName': 'Romerike',
   'targetCode': '3032',
   'targetName': 'Gjerdrum'},
  {'sourceCode': '30110',
   'sourceName': 'Romerike',
   'targetCode': '3033',
   'targetName': 'Ullensaker'},
  {'sourceCode': '30110',
   'sourceName': 'Romerike',
   'targetCode': '3034',
   'targetName': 'Nes'},
  {'sourceCode': '30110',
   'sourceName': 'Romerike',
   'targetCode': '3035',
   'targetName': 'Eidsvoll'},
  {'sourceCode': '30110',
   'sourceName': 'Romerike',
   'targetCode': '3036',
   'targetName': 'Nannestad'},
  {'sourceCode': '30110',
   'sourceName': 'Romerike',
   'targetCode': '3037',
   'targetName': 'Hurdal'},
  {'sourceCode': '30111',
   'sourceName': 'Norefjellsregion',
   'targetCode': '3039',
   'targetName': 'Flå'},
  {'sourceCode': '30111',
   'sourceName': 'Norefjellsregion',
   'targetCode': '3045',
   'targetName': 'Sigdal'},
  {'sourceCode': '30111',
   'sourceName': 'Norefjellsregion',
   'targetCode': '3046',
   'targetName': 'Krødsherad'},
  {'sourceCode': '30111',
   'sourceName': 'Norefjellsregion',
   'targetCode': '3047',
   'targetName': 'Modum'},
  {'sourceCode': '30112',
   'sourceName': 'Hallingdal',
   'targetCode': '3040',
   'targetName': 'Nesbyen'},
  {'sourceCode': '30112',
   'sourceName': 'Hallingdal',
   'targetCode': '3041',
   'targetName': 'Gol'},
  {'sourceCode': '30112',
   'sourceName': 'Hallingdal',
   'targetCode': '3042',
   'targetName': 'Hemsedal'},
  {'sourceCode': '30112',
   'sourceName': 'Hallingdal',
   'targetCode': '3043',
   'targetName': 'Ål'},
  {'sourceCode': '30112',
   'sourceName': 'Hallingdal',
   'targetCode': '3044',
   'targetName': 'Hol'},
  {'sourceCode': '34101',
   'sourceName': 'Hedmark-region',
   'targetCode': '3401',
   'targetName': 'Kongsvinger'},
  {'sourceCode': '34101',
   'sourceName': 'Hedmark-region',
   'targetCode': '3403',
   'targetName': 'Hamar'},
  {'sourceCode': '34101',
   'sourceName': 'Hedmark-region',
   'targetCode': '3412',
   'targetName': 'Løten'},
  {'sourceCode': '34101',
   'sourceName': 'Hedmark-region',
   'targetCode': '3413',
   'targetName': 'Stange'},
  {'sourceCode': '34101',
   'sourceName': 'Hedmark-region',
   'targetCode': '3414',
   'targetName': 'Nord-Odal'},
  {'sourceCode': '34101',
   'sourceName': 'Hedmark-region',
   'targetCode': '3415',
   'targetName': 'Sør-Odal'},
  {'sourceCode': '34101',
   'sourceName': 'Hedmark-region',
   'targetCode': '3416',
   'targetName': 'Eidskog'},
  {'sourceCode': '34101',
   'sourceName': 'Hedmark-region',
   'targetCode': '3417',
   'targetName': 'Grue'},
  {'sourceCode': '34101',
   'sourceName': 'Hedmark-region',
   'targetCode': '3418',
   'targetName': 'Åsnes'},
  {'sourceCode': '34101',
   'sourceName': 'Hedmark-region',
   'targetCode': '3419',
   'targetName': 'Våler (Innlandet)'},
  {'sourceCode': '34101',
   'sourceName': 'Hedmark-region',
   'targetCode': '3420',
   'targetName': 'Elverum'},
  {'sourceCode': '34102',
   'sourceName': 'Lillehammer-region',
   'targetCode': '3405',
   'targetName': 'Lillehammer'},
  {'sourceCode': '34102',
   'sourceName': 'Lillehammer-region',
   'targetCode': '3436',
   'targetName': 'Nord-Fron'},
  {'sourceCode': '34102',
   'sourceName': 'Lillehammer-region',
   'targetCode': '3438',
   'targetName': 'Sør-Fron'},
  {'sourceCode': '34102',
   'sourceName': 'Lillehammer-region',
   'targetCode': '3439',
   'targetName': 'Ringebu'},
  {'sourceCode': '34102',
   'sourceName': 'Lillehammer-region',
   'targetCode': '3440',
   'targetName': 'Øyer'},
  {'sourceCode': '34102',
   'sourceName': 'Lillehammer-region',
   'targetCode': '3441',
   'targetName': 'Gausdal'},
  {'sourceCode': '34102',
   'sourceName': 'Lillehammer-region',
   'targetCode': '3448',
   'targetName': 'Nordre Land'},
  {'sourceCode': '34103',
   'sourceName': 'Gjøvikregion',
   'targetCode': '3407',
   'targetName': 'Gjøvik'},
  {'sourceCode': '34103',
   'sourceName': 'Gjøvikregion',
   'targetCode': '3442',
   'targetName': 'Østre Toten'},
  {'sourceCode': '34103',
   'sourceName': 'Gjøvikregion',
   'targetCode': '3443',
   'targetName': 'Vestre Toten'},
  {'sourceCode': '34103',
   'sourceName': 'Gjøvikregion',
   'targetCode': '3446',

Her der det mye informasjon. Selve korreponsetabellen ligger under correspondenceMaps. Vi lager en søkestreng til jmespath for å hente alle elementer under correspondenceMaps

In [ ]:
search_string6 = 'correspondenceMaps[*]'

In [ ]:
res6 = jmespath.search(search_string6, dataset6)

Her bruker vi pd.DataFrame få å lage dataframe6

In [ ]:
dataframe6 = pd.DataFrame(res6)
dataframe6

## Eksempel 7. Hente variant som json

In [ ]:
URL7 = 'https://data.ssb.no/api/klass/v1/variants/1121.json'

In [ ]:
dataset7 = requests.get(url = URL7).json()

In [ ]:
# vise dataset 7
#dataset7

Det vi skal ha ligger under classificationItems

In [ ]:
search_string7 = 'classificationItems[*]'

In [ ]:
res7 = jmespath.search(search_string7, dataset7)

In [ ]:
dataframe7 = pd.DataFrame(res7)
dataframe7

In [ ]:
dataframe7 = dataframe7.dropna(axis='columns', how='all')
dataframe7

Spørsmål? Kontakt [statistikkbanken@ssb.no](statistikkbanken@ssb.no)