# Hvordan lage spørring som gir både kommunenavn og kommunenummer (id) fra JSON-stat

### Importerer biblioteker
Bruker [pyjstat](https://pypi.org/project/pyjstat/) og pandas. Pandas lastes som del av pyjstat

In [1]:
from pyjstat import pyjstat
import requests

URL med tabellens metadata, som vi skal poste spørringen mot

In [2]:
POST_URL = 'https://data.ssb.no/api/v0/no/table/07459'

Spørring - kan også tas fra konsoll.
0, 1 og 2-åringer i Oslo, Bergen Trondheim i 2018 og 2019

In [3]:
json_q = {"query":[{"code":"Region","selection":{"filter":"item","values":["0301","1103","5001"]}},
                   {"code":"Kjonn","selection":{"filter":"item","values":["1","2"]}},
                   {"code":"Alder","selection":{"filter":"item","values":["000","001","002"]}},
                   {"code":"ContentsCode","selection":{"filter":"item","values":["Personer1"]}},
                   {"code":"Tid","selection":{"filter":"item","values":["2018","2019","2020"]}}
                  ],
          "response":{"format":"json-stat2"}}

Poster spørringen

In [4]:
res = requests.post(POST_URL, json=json_q)

### Leser JSON-stat resultatet med biblioteket pyjstat
Lagrer det som datasett ds.

In [5]:
ds = pyjstat.Dataset.read(res.text)

In [6]:
type(ds)

pyjstat.pyjstat.Dataset

Se datasettet ds

In [7]:
#ds

### Henter noen overordnete metadata fra JSON-stat datasettet

In [8]:
tittel = ds['label']
print(tittel)

07459: Befolkning, etter region, kjønn, alder, statistikkvariabel og år

Sist Oppdatert som GMT

In [9]:
last_update = ds['updated']
print(last_update)

2020-02-27T07:00:00Z

Henter kilde

In [10]:
source = ds['source']
print(source)

Statistisk sentralbyrå

### Role gir noen snarveier, 
*men det er en liten bug i Statistikkbanken som ikke får med role - geo : 'Region' for akkurat denne tabellen, 07459*

In [11]:
ds_roles = ds['role']
print(ds_roles)

OrderedDict([('time', ['Tid']), ('metric', ['ContentsCode'])])

### Lager dataframes
Vi må lage to dataframes, en med tekst og en med koder/ID. Pyjstat tillater bare enten/eller

In [12]:
befolkning = ds.write('dataframe')
befolkning_id = ds.write('dataframe', naming='id')

Lager en ny kolonne med både kommunenummer og navn slått sammen. Kommunenummer er egentlig en streng på 4 karakter.

In [13]:
befolkning['kommune'] = befolkning_id['Region'].astype(str) + ' ' + befolkning['region']

INFO:numexpr.utils:NumExpr defaulting to 8 threads.

Lager en ny dataframe som bare har med kolonnene vi ønsker, i ny rekkefølge. Merk doble [[ ]]

In [14]:
befolkning_ny = befolkning[['kommune', 'kjønn', 'alder', 'år', 'value']]
befolkning_ny

              kommune    kjønn alder    år  value
0   0301 Oslo kommune     Menn  0 år  2018   4779
1   0301 Oslo kommune     Menn  0 år  2019   4523
2   0301 Oslo kommune     Menn  0 år  2020   4647
3   0301 Oslo kommune     Menn  1 år  2018   4709
4   0301 Oslo kommune     Menn  1 år  2019   4507
5   0301 Oslo kommune     Menn  1 år  2020   4283
6   0301 Oslo kommune     Menn  2 år  2018   4498
7   0301 Oslo kommune     Menn  2 år  2019   4463
8   0301 Oslo kommune     Menn  2 år  2020   4280
9   0301 Oslo kommune  Kvinner  0 år  2018   4456
10  0301 Oslo kommune  Kvinner  0 år  2019   4479
11  0301 Oslo kommune  Kvinner  0 år  2020   4454
12  0301 Oslo kommune  Kvinner  1 år  2018   4362
13  0301 Oslo kommune  Kvinner  1 år  2019   4186
14  0301 Oslo kommune  Kvinner  1 år  2020   4159
15  0301 Oslo kommune  Kvinner  2 år  2018   4015
16  0301 Oslo kommune  Kvinner  2 år  2019   4144
17  0301 Oslo kommune  Kvinner  2 år  2020   3975
18     1103 Stavanger     Menn  0 år  2018    835
19     1103 Stavanger     Menn  0 år  2019    770
20     1103 Stavanger     Menn  0 år  2020    842
21     1103 Stavanger     Menn  1 år  2018    846
22     1103 Stavanger     Menn  1 år  2019    822
23     1103 Stavanger     Menn  1 år  2020    816
24     1103 Stavanger     Menn  2 år  2018    860
25     1103 Stavanger     Menn  2 år  2019    846
26     1103 Stavanger     Menn  2 år  2020    868
27     1103 Stavanger  Kvinner  0 år  2018    826
28     1103 Stavanger  Kvinner  0 år  2019    766
29     1103 Stavanger  Kvinner  0 år  2020    760
30     1103 Stavanger  Kvinner  1 år  2018    838
31     1103 Stavanger  Kvinner  1 år  2019    816
32     1103 Stavanger  Kvinner  1 år  2020    807
33     1103 Stavanger  Kvinner  2 år  2018    826
34     1103 Stavanger  Kvinner  2 år  2019    821
35     1103 Stavanger  Kvinner  2 år  2020    871
36     5001 Trondheim     Menn  0 år  2018   1132
37     5001 Trondheim     Menn  0 år  2019   1059
38     5001 Trondheim     Menn  0 år  2020   1194
39     5001 Trondheim     Menn  1 år  2018   1181
40     5001 Trondheim     Menn  1 år  2019   1117
41     5001 Trondheim     Menn  1 år  2020   1062
42     5001 Trondheim     Menn  2 år  2018   1175
43     5001 Trondheim     Menn  2 år  2019   1159
44     5001 Trondheim     Menn  2 år  2020   1157
45     5001 Trondheim  Kvinner  0 år  2018   1078
46     5001 Trondheim  Kvinner  0 år  2019   1023
47     5001 Trondheim  Kvinner  0 år  2020   1061
48     5001 Trondheim  Kvinner  1 år  2018   1097
49     5001 Trondheim  Kvinner  1 år  2019   1069
50     5001 Trondheim  Kvinner  1 år  2020   1053
51     5001 Trondheim  Kvinner  2 år  2018   1115
52     5001 Trondheim  Kvinner  2 år  2019   1096
53     5001 Trondheim  Kvinner  2 år  2020   1095

### Kommunereformen

Merk at denne spørringen i dette eksempelet bruker rene kommunenummer, og ikke K-koder for sammenslåtte kommuner i tidsserier. 

En spørring som inkluderer tidsserier for kommuner som er berørt av kommunereformen, kan ikke benytte "item". K-koder må ha agg: og navnet på aggregeringen KommSummer istedet, "filter": "agg:KommSummer". 

Eksempel på en spørring for Oslo og Moss. Tallene for Oslo blir de samme som om jeg hadde brukt 0301, mens tidsserien for K-3002 Moss inkluderer kommunene som inngår i nye Moss, tidligere 0104 Moss og 0136 Rygge.

In [15]:
json_q1 = {"query":
           [{"code":"Region","selection":{"filter":"agg:KommSummer","values":["K-0301","K-3002"]}},
            {"code":"Kjonn","selection":{"filter":"item","values":["1","2"]}},
            {"code":"Alder","selection":{"filter":"item","values":["000","001","002"]}},
            {"code":"ContentsCode","selection":{"filter":"item","values":["Personer1"]}},
            {"code":"Tid","selection":{"filter":"item","values":["2018","2019","2020"]}}
           ],
           "response":{"format":"json-stat2"}}