# Hente KOSTRA koder for arter og funksjoner via Klass API

### Importerer nødvendige biblioteker

In [1]:
import pandas as pd
import requests

### Hente data fra json url og se innholdet

In [2]:
url = 'https://data.ssb.no/api/klass/v1/versions/795.json' # regnskapsarter versjon 2016- 

# 'http://data.ssb.no/api/klass/v1/versions/1204.json' - regnskapsfunksjoner 2019-
# 'http://data.ssb.no/api/klass/v1/versions/795.json' # regnskapsarter versjon 2016-

In [3]:
r = requests.get(url = url)

In [4]:
type(r)

requests.models.Response

### Det enkleste her er å bruke request for json() for å konvertere det til en dictionary

In [5]:
# request av json og se evt. på innholdet
dataset = r.json()
# dataset

In [6]:
# sjekke at uttrekket er endret fra json til en dictionary (dict)
type(dataset)

dict

### Begrenser uttrekket til dimensjonen med classificationItems og henter noen få felt til dataframe df

In [7]:
classItems = (dataset['classificationItems'])

In [8]:
classItems[0]

{'code': '010',
 'parentCode': '',
 'level': '1',
 'name': 'Fastlønn',
 'shortName': None,
 'notes': ''}

In [9]:
df = pd.DataFrame(classItems, columns =['code', 'name', 'notes'])

In [10]:
# se på de første 5 radene av dataframe ved å bruke .head()
df.head()

  code                                       name notes
0  010                                   Fastlønn
1  020                           Lønn til vikarer
2  030                       Lønn til ekstrahjelp
3  040                               Overtidslønn
4  050  Annen lønn og trekkpliktige godtgjørelser

In [11]:
# se på de 15 siste radene av dataframe ved å bruke .tail()
df.tail(15)

,code,name,notes
280,AGI30,Salgsinntekter (i investering),Begrepet viser (fylkes-)kommunens salgsinntekt...
281,AGI31,Refusjons- og overføringsinntekter inkl. rente...,Begrepet viser refusjons- og overføringsinntek...
282,AGI32,Sum finansieringstransaksjoner (C ),Begrepet omfatter (fylkes-)kommunens finansier...
283,AGI33,Finansieringsbehov (D= B+C+A),Begrepet beskriver (fylkes-)kommunens finansie...
284,AGI34,Sum finansiering (E ),Begrepet viser hvordan (fylkes-)kommunen finan...
285,AGI35,Udekket/udisponert (F=D-E),Begrepet omfatter (fylkes-)kommunens resultat ...
286,AGI36,"Bruk av lån inkl. aksjer, andeler og utlån (ne...",Begrepet omfatter netto bruk av lån inkludert ...
287,AGI37,Kjøp av tjenester som erstatter (fylkes-)kommu...,Begrepet omfatter alle utgifter i investerings...
288,AGID1,Overskudd før lån og avsetninger,Begrepet omfatter brutto driftsresultat inkl. ...
289,AGID2,"Bruk av fond/avsetning til fond, drift og inve...",Begrepet omfatter bruk av fond minus avsetning...
290,AI620,"Annet salg av varer og tjenester, gebyrer o.l....",
291,AI660,Salg av driftsmidler (i investeringsregnskapet,
292,AI729,Kompensasjon for merverdiavgift i investerings...,
293,AI770,Refusjon fra andre (private) (I),
294,AI905,Utbytte og eieruttak,