# Eksempel på bruk av PxWebApi versjon 2 beta i Python

## Det nye APIet tilbyr både http POST som før og http GET som er nytt

#### benytter biblioteket pyjstat for JSON-stat

In [1]:
import pandas as pd
import requests
from pyjstat import pyjstat

## Post spørring og få Pandas dataframe i retur
Nytt: Språk og utformat angis i URL

In [2]:
# Eksport av laks
POST_URL = 'https://data.ssb.no/api/pxwebapi/v2-beta/tables/03024/data?lang=no&outputFormat=json-stat2'

API spørring, Det er en annen struktur enn i PxWebApi Versjon 1  - henter fryst og fersk laks siste 53 uker

In [5]:

payload = {"selection": [
			{"variableCode": "VareGrupper2", 
             "valueCodes": [
                 "01", "02"
             ] 
            },
			{"variableCode": "ContentsCode", 
             "valueCodes": [
                 "Vekt", "Kilopris"
             ] 
            },
			{"variableCode": "Tid", 
             "valueCodes": ["2025*"] }
		]
		}

In [6]:
resultat = requests.post(POST_URL, json = payload)

In [7]:
print(resultat)

<Response [200]>

Resultat gir bare http statuskode - 200 hvis OK. Body ligger i resultat.text

In [8]:
dataset = pyjstat.Dataset.read(resultat.text)

In [9]:
df = dataset.write('dataframe')

In [10]:
df.head()

           varegruppe statistikkvariabel      uke    value
0  Fersk oppalen laks        Vekt (tonn)  2025U01  11364.0
1  Fersk oppalen laks        Vekt (tonn)  2025U02  15939.0
2  Fersk oppalen laks        Vekt (tonn)  2025U03  17325.0
3  Fersk oppalen laks        Vekt (tonn)  2025U04  15564.0
4  Fersk oppalen laks        Vekt (tonn)  2025U05  16370.0

In [11]:
df.tail()

              varegruppe statistikkvariabel      uke  value
119  Frosen oppalen laks      Kilopris (kr)  2025U27  76.87
120  Frosen oppalen laks      Kilopris (kr)  2025U28  77.98
121  Frosen oppalen laks      Kilopris (kr)  2025U29  76.83
122  Frosen oppalen laks      Kilopris (kr)  2025U30  70.76
123  Frosen oppalen laks      Kilopris (kr)  2025U31  71.67

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 124 entries, 0 to 123
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   varegruppe          124 non-null    object
 1   statistikkvariabel  124 non-null    object
 2   uke                 124 non-null    object
 3   value               124 non-null    float64
dtypes: float64(1), object(3)
memory usage: 4.0+ KB

In [13]:
print(resultat.text)

{"version":"2.0","class":"dataset","label":"03024: Eksport av oppalen laks, etter varegruppe, statistikkvariabel og uke","source":"Statistisk sentralbyrå","updated":"2025-08-06T06:00:00Z","role":{"time":["Tid"],"metric":["ContentsCode"]},"id":["VareGrupper2","ContentsCode","Tid"],"size":[2,2,31],"dimension":{"VareGrupper2":{"label":"varegruppe","category":{"index":{"01":0,"02":1},"label":{"01":"Fersk oppalen laks","02":"Frosen oppalen laks"}},"extension":{"elimination":false,"show":"value"}},"ContentsCode":{"label":"statistikkvariabel","category":{"index":{"Vekt":0,"Kilopris":1},"label":{"Vekt":"Vekt (tonn)","Kilopris":"Kilopris (kr)"},"unit":{"Vekt":{"base":"tonn","decimals":0},"Kilopris":{"base":"kr","decimals":2}}},"extension":{"elimination":false,"refperiod":{"Vekt":"Utgangen av veka","Kilopris":"Utgangen av veka"},"show":"value","measuringType":{"Vekt":"Flow","Kilopris":"Flow"},"priceType":{"Vekt":"NotApplicable","Kilopris":"NotApplicable"},"adjustment":{"Vekt":"None","Kilopris":"None"}},"link":{"describedby":[{"extension":{"Vekt":"urn:ssb:conceptvariable:vardok:2982"}}]}},"Tid":{"label":"uke","category":{"index":{"2025U01":0,"2025U02":1,"2025U03":2,"2025U04":3,"2025U05":4,"2025U06":5,"2025U07":6,"2025U08":7,"2025U09":8,"2025U10":9,"2025U11":10,"2025U12":11,"2025U13":12,"2025U14":13,"2025U15":14,"2025U16":15,"2025U17":16,"2025U18":17,"2025U19":18,"2025U20":19,"2025U21":20,"2025U22":21,"2025U23":22,"2025U24":23,"2025U25":24,"2025U26":25,"2025U27":26,"2025U28":27,"2025U29":28,"2025U30":29,"2025U31":30},"label":{"2025U01":"2025U01","2025U02":"2025U02","2025U03":"2025U03","2025U04":"2025U04","2025U05":"2025U05","2025U06":"2025U06","2025U07":"2025U07","2025U08":"2025U08","2025U09":"2025U09","2025U10":"2025U10","2025U11":"2025U11","2025U12":"2025U12","2025U13":"2025U13","2025U14":"2025U14","2025U15":"2025U15","2025U16":"2025U16","2025U17":"2025U17","2025U18":"2025U18","2025U19":"2025U19","2025U20":"2025U20","2025U21":"2025U21","2025U22":"2025U22","2025U23":"2025U23","2025U24":"2025U24","2025U25":"2025U25","2025U26":"2025U26","2025U27":"2025U27","2025U28":"2025U28","2025U29":"2025U29","2025U30":"2025U30","2025U31":"2025U31"}},"extension":{"elimination":false,"show":"code"}}},"extension":{"px":{"infofile":"None","tableid":"03024","decimals":0,"official-statistics":true,"aggregallowed":false,"copyright":false,"language":"no","contents":"03024: Eksport av oppalen laks,","descriptiondefault":false,"heading":["ContentsCode","Tid"],"stub":["VareGrupper2"],"matrix":"Vekt","subject-code":"al","subject-area":"Arbeid og lønn"},"discontinued":null,"contact":[{"name":"Utenrikshandel","organization":"Statistisk sentralbyrå","phone":"62 88 50 00","mail":"utenrikshandel@ssb.no","raw":" Utenrikshandel, Statistisk sentralbyrå# +47 62 88 50 00#utenrikshandel@ssb.no"}]},"value":[11364,15939,17325,15564,16370,15184,15966,15536,18067,17116,17467,18172,18828,19053,20009,13620,18343,18958,18073,19523,20466,18223,19164,18505,22332,21712,22602,24500,24412,26055,25317,125.36,117.77,105.08,98.43,94.49,92.18,93.23,92.97,92.67,87,88.64,89.09,84.45,76.4,78.56,95.33,89.19,75.35,74.31,77.06,75.89,70.42,72.42,82.73,76.33,68.74,70.28,67.29,68.13,65.1,60.58,255,393,645,738,510,706,740,544,520,538,368,473,560,612,666,162,534,479,530,498,703,686,721,651,688,440,628,657,606,718,854,84.19,90.27,84.59,88.27,96.78,92.27,86.96,82.23,79.5,93.43,76.23,95.18,83.03,76.26,76.87,84.84,82.26,84.86,77.32,89.4,82.63,70.85,76.8,75.44,73.33,72.93,76.87,77.98,76.83,70.76,71.67]}

## Henter noen overordnete metadata fra JSON-stat datasettet

In [14]:
tittel = dataset['label']
print(tittel)

03024: Eksport av oppalen laks, etter varegruppe, statistikkvariabel og uke

In [15]:
last_update = dataset['updated']
print(last_update)

2025-08-06T06:00:00Z

In [16]:
last_update = dataset['updated']
print(last_update)

2025-08-06T06:00:00Z

In [17]:
source = dataset['source']
print(source)

Statistisk sentralbyrå

'Role' gir snarveier til statistikkvariabel(metric), Tid og evt. Geo

In [18]:
ds_roles = dataset['role']
print(ds_roles)

OrderedDict({'time': ['Tid'], 'metric': ['ContentsCode']})

Her er noen nye metadata

In [19]:
ds_id = dataset['extension']['px']['tableid']
print(ds_id)

03024

In [20]:
ds_shorttit = dataset['extension']['px']['contents']
print(ds_shorttit)

03024: Eksport av oppalen laks,

Sjekk om tabellen har fotnote

In [21]:
if 'note' in dataset:
    ds_note = dataset['note']
    print(ds_note)

In [22]:
ds_dims = dataset['id']
ds_dims

['VareGrupper2', 'ContentsCode', 'Tid']

In [23]:
ds_dim = dataset['dimension']['VareGrupper2']['label']
ds_dim

'varegruppe'

In [24]:
ds_shorttit,' etter ',ds_dim

('03024: Eksport av oppalen laks,', ' etter ', 'varegruppe')

In [25]:
ds_dimcat = dataset['dimension']['ContentsCode']
ds_dimcat

OrderedDict([('label', 'statistikkvariabel'),
             ('category',
              OrderedDict([('index',
                            OrderedDict([('Vekt', 0), ('Kilopris', 1)])),
                           ('label',
                            OrderedDict([('Vekt', 'Vekt (tonn)'),
                                         ('Kilopris', 'Kilopris (kr)')])),
                           ('unit',
                            OrderedDict([('Vekt',
                                          OrderedDict([('base', 'tonn'),
                                                       ('decimals', 0)])),
                                         ('Kilopris',
                                          OrderedDict([('base', 'kr'),
                                                       ('decimals',
                                                        2)]))]))])),
             ('extension',
              OrderedDict([('elimination', False),
                           ('refperiod',
                            OrderedDict([('Vekt', 'Utgangen av veka'),
                                         ('Kilopris', 'Utgangen av veka')])),
                           ('show', 'value'),
                           ('measuringType',
                            OrderedDict([('Vekt', 'Flow'),
                                         ('Kilopris', 'Flow')])),
                           ('priceType',
                            OrderedDict([('Vekt', 'NotApplicable'),
                                         ('Kilopris', 'NotApplicable')])),
                           ('adjustment',
                            OrderedDict([('Vekt', 'None'),
                                         ('Kilopris', 'None')]))])),
             ('link',
              OrderedDict([('describedby',
                            [OrderedDict([('extension',
                                           OrderedDict([('Vekt',
                                                         'urn:ssb:conceptvariable:vardok:2982')]))])])]))])

In [26]:
ds_var = dataset['dimension']['VareGrupper2']['category']['label']['01']
ds_var

'Fersk oppalen laks'

## GET - PxWebApi2

Ferdigdefinerte datasett er nytt versjon 2 av PxWebApi. 

Vi bruker POST-URLen over med http GET til å gi oss et ferdigdefinert datasett.

Vi kunne tatt vekk parametrene ?lang=no&outputFormat=json-stat2 fordi disse er satt i /config

In [27]:
print(requests.get(POST_URL).url)

https://data.ssb.no/api/pxwebapi/v2-beta/tables/03024/data?lang=no&outputFormat=json-stat2

In [28]:
resultat_get = requests.get(POST_URL)

In [29]:
res_get = resultat_get.text

In [30]:
dataset_get = pyjstat.Dataset.read(res_get)

In [31]:
# dataset_get

In [32]:
df_get = dataset_get.write('dataframe')

In [33]:
df_get

            varegruppe      uke statistikkvariabel     value
0   Fersk oppalen laks  2025U31        Vekt (tonn)  25317.00
1   Fersk oppalen laks  2025U31      Kilopris (kr)     60.58
2  Frosen oppalen laks  2025U31        Vekt (tonn)    854.00
3  Frosen oppalen laks  2025U31      Kilopris (kr)     71.67

Vi kan også bruke get-url med parametre: fersk laks, vekt, pris i 2025

`&valueCodes[VareGrupper2]=01&valueCodes[ContentsCode]=Vekt,Kilopris&valueCodes[Tid]=2025*`

In [34]:
GET_URL = 'https://data.ssb.no/api/pxwebapi/v2-beta/tables/03024/data?lang=no&valueCodes[VareGrupper2]=01&valueCodes[ContentsCode]=Vekt,Kilopris&valueCodes[Tid]=2025*'

In [35]:
resultat_get1 = requests.get(GET_URL)

In [36]:
dataset1_get = pyjstat.Dataset.read(resultat_get1.text)

In [37]:
df1 = dataset1_get.write('dataframe')

In [38]:
df1.tail(2)

            varegruppe statistikkvariabel      uke  value
60  Fersk oppalen laks      Kilopris (kr)  2025U30  65.10
61  Fersk oppalen laks      Kilopris (kr)  2025U31  60.58

### Nytt i API2. Parametre for styring av CSV-output.
Dette er samme som POST spørringen, men med utformat CSV. 

Output her er semikolonseparert, med både kode og tekst. Statistikkvariabel i hode, rekkefølge på kolonner er Varegruppe2 og Tid

`outputformat = csv`

`outputformatparams = separatorsemicolon, usecodesandtexts`

`heading = ContentsCode`

`stub = VareGrupper2, Tid`

In [39]:
CSV_URL = 'https://data.ssb.no/api/pxwebapi/v2-beta/tables/03024/data?lang=no&outputformat=csv&outputformatparams=separatorsemicolon,usecodesandtexts&heading=ContentsCode&stub=VareGrupper2,Tid&valuecodes[ContentsCode]=Vekt,Kilopris&valuecodes[Varegrupper2]=01,02&valuecodes[Tid]=2025*'

Det er også mulig å angi URL med CSV direkte til Pandas og få en dataframe.

In [40]:
df = pd.read_csv(CSV_URL, delimiter = ';')

In [41]:
df.head(8)

,VareGrupper2 - varegruppe,Tid - uke,Vekt - Vekt (tonn),Kilopris - Kilopris (kr)
0,01 - Fersk oppalen laks,2025U01 - 2025U01,11364,125.36
1,01 - Fersk oppalen laks,2025U02 - 2025U02,15939,117.77
2,01 - Fersk oppalen laks,2025U03 - 2025U03,17325,105.08
3,01 - Fersk oppalen laks,2025U04 - 2025U04,15564,98.43
4,01 - Fersk oppalen laks,2025U05 - 2025U05,16370,94.49
5,01 - Fersk oppalen laks,2025U06 - 2025U06,15184,92.18
6,01 - Fersk oppalen laks,2025U07 - 2025U07,15966,93.23
7,01 - Fersk oppalen laks,2025U08 - 2025U08,15536,92.97

Det samme, men mye mer omstendelig om en ikke bruker URL direkte

In [42]:
resultat_csv = requests.get(CSV_URL)

In [43]:
resultat_csv

In [44]:
r_csv = resultat_csv.text

In [45]:
r_csv

'"VareGrupper2 - varegruppe";"Tid - uke";"Vekt - Vekt (tonn)";"Kilopris - Kilopris (kr)"\r\n"01 - Fersk oppalen laks";"2025U01 - 2025U01";11364;125.36\r\n"01 - Fersk oppalen laks";"2025U02 - 2025U02";15939;117.77\r\n"01 - Fersk oppalen laks";"2025U03 - 2025U03";17325;105.08\r\n"01 - Fersk oppalen laks";"2025U04 - 2025U04";15564;98.43\r\n"01 - Fersk oppalen laks";"2025U05 - 2025U05";16370;94.49\r\n"01 - Fersk oppalen laks";"2025U06 - 2025U06";15184;92.18\r\n"01 - Fersk oppalen laks";"2025U07 - 2025U07";15966;93.23\r\n"01 - Fersk oppalen laks";"2025U08 - 2025U08";15536;92.97\r\n"01 - Fersk oppalen laks";"2025U09 - 2025U09";18067;92.67\r\n"01 - Fersk oppalen laks";"2025U10 - 2025U10";17116;87.00\r\n"01 - Fersk oppalen laks";"2025U11 - 2025U11";17467;88.64\r\n"01 - Fersk oppalen laks";"2025U12 - 2025U12";18172;89.09\r\n"01 - Fersk oppalen laks";"2025U13 - 2025U13";18828;84.45\r\n"01 - Fersk oppalen laks";"2025U14 - 2025U14";19053;76.40\r\n"01 - Fersk oppalen laks";"2025U15 - 2025U15";20009;78.56\r\n"01 - Fersk oppalen laks";"2025U16 - 2025U16";13620;95.33\r\n"01 - Fersk oppalen laks";"2025U17 - 2025U17";18343;89.19\r\n"01 - Fersk oppalen laks";"2025U18 - 2025U18";18958;75.35\r\n"01 - Fersk oppalen laks";"2025U19 - 2025U19";18073;74.31\r\n"01 - Fersk oppalen laks";"2025U20 - 2025U20";19523;77.06\r\n"01 - Fersk oppalen laks";"2025U21 - 2025U21";20466;75.89\r\n"01 - Fersk oppalen laks";"2025U22 - 2025U22";18223;70.42\r\n"01 - Fersk oppalen laks";"2025U23 - 2025U23";19164;72.42\r\n"01 - Fersk oppalen laks";"2025U24 - 2025U24";18505;82.73\r\n"01 - Fersk oppalen laks";"2025U25 - 2025U25";22332;76.33\r\n"01 - Fersk oppalen laks";"2025U26 - 2025U26";21712;68.74\r\n"01 - Fersk oppalen laks";"2025U27 - 2025U27";22602;70.28\r\n"01 - Fersk oppalen laks";"2025U28 - 2025U28";24500;67.29\r\n"01 - Fersk oppalen laks";"2025U29 - 2025U29";24412;68.13\r\n"01 - Fersk oppalen laks";"2025U30 - 2025U30";26055;65.10\r\n"01 - Fersk oppalen laks";"2025U31 - 2025U31";25317;60.58\r\n"02 - Frosen oppalen laks";"2025U01 - 2025U01";255;84.19\r\n"02 - Frosen oppalen laks";"2025U02 - 2025U02";393;90.27\r\n"02 - Frosen oppalen laks";"2025U03 - 2025U03";645;84.59\r\n"02 - Frosen oppalen laks";"2025U04 - 2025U04";738;88.27\r\n"02 - Frosen oppalen laks";"2025U05 - 2025U05";510;96.78\r\n"02 - Frosen oppalen laks";"2025U06 - 2025U06";706;92.27\r\n"02 - Frosen oppalen laks";"2025U07 - 2025U07";740;86.96\r\n"02 - Frosen oppalen laks";"2025U08 - 2025U08";544;82.23\r\n"02 - Frosen oppalen laks";"2025U09 - 2025U09";520;79.50\r\n"02 - Frosen oppalen laks";"2025U10 - 2025U10";538;93.43\r\n"02 - Frosen oppalen laks";"2025U11 - 2025U11";368;76.23\r\n"02 - Frosen oppalen laks";"2025U12 - 2025U12";473;95.18\r\n"02 - Frosen oppalen laks";"2025U13 - 2025U13";560;83.03\r\n"02 - Frosen oppalen laks";"2025U14 - 2025U14";612;76.26\r\n"02 - Frosen oppalen laks";"2025U15 - 2025U15";666;76.87\r\n"02 - Frosen oppalen laks";"2025U16 - 2025U16";162;84.84\r\n"02 - Frosen oppalen laks";"2025U17 - 2025U17";534;82.26\r\n"02 - Frosen oppalen laks";"2025U18 - 2025U18";479;84.86\r\n"02 - Frosen oppalen laks";"2025U19 - 2025U19";530;77.32\r\n"02 - Frosen oppalen laks";"2025U20 - 2025U20";498;89.40\r\n"02 - Frosen oppalen laks";"2025U21 - 2025U21";703;82.63\r\n"02 - Frosen oppalen laks";"2025U22 - 2025U22";686;70.85\r\n"02 - Frosen oppalen laks";"2025U23 - 2025U23";721;76.80\r\n"02 - Frosen oppalen laks";"2025U24 - 2025U24";651;75.44\r\n"02 - Frosen oppalen laks";"2025U25 - 2025U25";688;73.33\r\n"02 - Frosen oppalen laks";"2025U26 - 2025U26";440;72.93\r\n"02 - Frosen oppalen laks";"2025U27 - 2025U27";628;76.87\r\n"02 - Frosen oppalen laks";"2025U28 - 2025U28";657;77.98\r\n"02 - Frosen oppalen laks";"2025U29 - 2025U29";606;76.83\r\n"02 - Frosen oppalen laks";"2025U30 - 2025U30";718;70.76\r\n"02 - Frosen oppalen laks";"2025U31 - 2025U31";854;71.67\r\n'

In [46]:
import io
df1 = pd.read_csv(io.StringIO(r_csv), delimiter = ';')

In [47]:
df1.tail(8)

,VareGrupper2 - varegruppe,Tid - uke,Vekt - Vekt (tonn),Kilopris - Kilopris (kr)
54,02 - Frosen oppalen laks,2025U24 - 2025U24,651,75.44
55,02 - Frosen oppalen laks,2025U25 - 2025U25,688,73.33
56,02 - Frosen oppalen laks,2025U26 - 2025U26,440,72.93
57,02 - Frosen oppalen laks,2025U27 - 2025U27,628,76.87
58,02 - Frosen oppalen laks,2025U28 - 2025U28,657,77.98
59,02 - Frosen oppalen laks,2025U29 - 2025U29,606,76.83
60,02 - Frosen oppalen laks,2025U30 - 2025U30,718,70.76
61,02 - Frosen oppalen laks,2025U31 - 2025U31,854,71.67