# Example of using PxWebApi version 2 in Python

## The new API offers both HTTP POST as before and HTTP GET which is new

#### uses the pyjstat library for JSON-stat

In [1]:
import pandas as pd
import requests
from pyjstat import pyjstat 
import io

## POST query and get Pandas dataframe in return
New: Language and format are specified in the URL

In [2]:
# Salmon export
POST_URL = 'https://data.ssb.no/api/pxwebapi/v2/tables/03024/data?lang=en&outputFormat=json-stat2'

API query - Different structure than in PxWebApi Version 1 and not backwards compatible,

- fetches frozen and fresh salmon from week1 2025 using the new `from(2025U01)`

In [3]:

payload = {"selection": [
			{"variableCode": "VareGrupper2", 
             "valueCodes": [
                 "01", "02"
             ] 
            },
			{"variableCode": "ContentsCode", 
             "valueCodes": [
                 "Vekt", "Kilopris"
             ] 
            },
			{"variableCode": "Tid", 
             "valueCodes": ["from(2025U01)"] }  # V2 
		]
		}

In [4]:
result = requests.post(POST_URL, json = payload)

In [5]:
print(result)

<Response [200]>

Result only gives HTTP status code - 200 if OK. Body is in resultat.text

In [6]:
dataset = pyjstat.Dataset.read(result.text)

In [7]:
df = dataset.write('dataframe')

In [8]:
df.head()

                           commodity group         contents     week    value
0  Fish-farm bred salmon, fresh or chilled  Weight (tonnes)  2025U01  11364.0
1  Fish-farm bred salmon, fresh or chilled  Weight (tonnes)  2025U02  15939.0
2  Fish-farm bred salmon, fresh or chilled  Weight (tonnes)  2025U03  17325.0
3  Fish-farm bred salmon, fresh or chilled  Weight (tonnes)  2025U04  15564.0
4  Fish-farm bred salmon, fresh or chilled  Weight (tonnes)  2025U05  16370.0

In [9]:
df.tail()

                   commodity group              contents     week  value
167  Fish-farm bred salmon, frozen  Price per kilo (NOK)  2025U39  71.33
168  Fish-farm bred salmon, frozen  Price per kilo (NOK)  2025U40  69.75
169  Fish-farm bred salmon, frozen  Price per kilo (NOK)  2025U41  72.00
170  Fish-farm bred salmon, frozen  Price per kilo (NOK)  2025U42  72.47
171  Fish-farm bred salmon, frozen  Price per kilo (NOK)  2025U43  74.86

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 172 entries, 0 to 171
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   commodity group  172 non-null    object
 1   contents         172 non-null    object
 2   week             172 non-null    object
 3   value            172 non-null    float64
dtypes: float64(1), object(3)
memory usage: 5.5+ KB

In [11]:
print(result.text)

{"version":"2.0","class":"dataset","label":"03024: Export of salmon, fish-farm bred, by commodity group, contents and week","source":"Statistics Norway","updated":"2025-10-29T07:00:00Z","role":{"time":["Tid"],"metric":["ContentsCode"]},"id":["VareGrupper2","ContentsCode","Tid"],"size":[2,2,43],"dimension":{"VareGrupper2":{"label":"commodity group","category":{"index":{"01":0,"02":1},"label":{"01":"Fish-farm bred salmon, fresh or chilled","02":"Fish-farm bred salmon, frozen"}},"extension":{"elimination":false,"show":"value"}},"ContentsCode":{"label":"contents","category":{"index":{"Vekt":0,"Kilopris":1},"label":{"Vekt":"Weight (tonnes)","Kilopris":"Price per kilo (NOK)"},"unit":{"Vekt":{"base":"tonnes","decimals":0},"Kilopris":{"base":"NOK","decimals":2}}},"extension":{"elimination":false,"refperiod":{"Vekt":"End of week","Kilopris":"End of week"},"show":"value","measuringType":{"Vekt":"Flow","Kilopris":"Flow"},"priceType":{"Vekt":"NotApplicable","Kilopris":"NotApplicable"},"adjustment":{"Vekt":"None","Kilopris":"None"}},"link":{"describedby":[{"extension":{"Vekt":"urn:ssb:conceptvariable:vardok:2982"}}]}},"Tid":{"label":"week","category":{"index":{"2025U01":0,"2025U02":1,"2025U03":2,"2025U04":3,"2025U05":4,"2025U06":5,"2025U07":6,"2025U08":7,"2025U09":8,"2025U10":9,"2025U11":10,"2025U12":11,"2025U13":12,"2025U14":13,"2025U15":14,"2025U16":15,"2025U17":16,"2025U18":17,"2025U19":18,"2025U20":19,"2025U21":20,"2025U22":21,"2025U23":22,"2025U24":23,"2025U25":24,"2025U26":25,"2025U27":26,"2025U28":27,"2025U29":28,"2025U30":29,"2025U31":30,"2025U32":31,"2025U33":32,"2025U34":33,"2025U35":34,"2025U36":35,"2025U37":36,"2025U38":37,"2025U39":38,"2025U40":39,"2025U41":40,"2025U42":41,"2025U43":42},"label":{"2025U01":"2025U01","2025U02":"2025U02","2025U03":"2025U03","2025U04":"2025U04","2025U05":"2025U05","2025U06":"2025U06","2025U07":"2025U07","2025U08":"2025U08","2025U09":"2025U09","2025U10":"2025U10","2025U11":"2025U11","2025U12":"2025U12","2025U13":"2025U13","2025U14":"2025U14","2025U15":"2025U15","2025U16":"2025U16","2025U17":"2025U17","2025U18":"2025U18","2025U19":"2025U19","2025U20":"2025U20","2025U21":"2025U21","2025U22":"2025U22","2025U23":"2025U23","2025U24":"2025U24","2025U25":"2025U25","2025U26":"2025U26","2025U27":"2025U27","2025U28":"2025U28","2025U29":"2025U29","2025U30":"2025U30","2025U31":"2025U31","2025U32":"2025U32","2025U33":"2025U33","2025U34":"2025U34","2025U35":"2025U35","2025U36":"2025U36","2025U37":"2025U37","2025U38":"2025U38","2025U39":"2025U39","2025U40":"2025U40","2025U41":"2025U41","2025U42":"2025U42","2025U43":"2025U43"}},"extension":{"elimination":false,"show":"code"}}},"extension":{"px":{"infofile":"None","tableid":"03024","decimals":0,"official-statistics":true,"aggregallowed":false,"copyright":false,"language":"en","contents":"03024: Export of salmon, fish-farm bred,","descriptiondefault":false,"heading":["ContentsCode","Tid"],"stub":["VareGrupper2"],"matrix":"Vekt","subject-code":"ut","subject-area":"External economy"},"discontinued":null,"contact":[{"name":"Utenrikshandel","organization":"Statistics Norway","phone":"62 88 50 00","mail":"utenrikshandel@ssb.no","raw":" Utenrikshandel, Statistics Norway# +47 62 88 50 00#utenrikshandel@ssb.no"}]},"value":[11364,15939,17325,15564,16370,15184,15966,15536,18067,17116,17467,18172,18828,19053,20009,13620,18343,18958,18073,19523,20466,18223,19164,18505,22332,21712,22602,24500,24412,26055,25317,25796,27320,28180,27726,26744,24791,24495,23396,24009,26112,26448,25886,125.36,117.77,105.08,98.43,94.49,92.18,93.23,92.97,92.67,87,88.64,89.09,84.45,76.4,78.56,95.33,89.19,75.35,74.31,77.06,75.89,70.42,72.42,82.73,76.33,68.74,70.28,67.29,68.13,65.1,60.58,62.05,64.38,65.13,65.86,70.2,74.99,77.4,79.91,77.68,75.38,73.74,78.25,255,393,645,738,510,706,740,544,520,538,368,473,560,612,666,162,534,479,530,498,703,686,721,651,688,440,628,657,606,718,854,624,732,747,597,921,708,864,796,701,606,568,740,84.19,90.27,84.59,88.27,96.78,92.27,86.96,82.23,79.5,93.43,76.23,95.18,83.03,76.26,76.87,84.84,82.26,84.86,77.32,89.4,82.63,70.85,76.8,75.44,73.33,72.93,76.87,77.98,76.83,70.76,71.67,65.93,75.74,70.19,65.09,70.89,64.45,73.8,71.33,69.75,72,72.47,74.86]}

## Retrieves some metadata from the JSON-stat dataset

In [12]:
title = dataset['label']
print(title)

03024: Export of salmon, fish-farm bred, by commodity group, contents and week

In [13]:
last_update = dataset['updated']
print(last_update)

2025-10-29T07:00:00Z

In [14]:
last_update = dataset['updated']
print(last_update)

2025-10-29T07:00:00Z

In [15]:
source = dataset['source']
print(source)

Statistics Norway

'Role' gir snarveier til statistikkvariabel(metric), Tid og evt. Geo

In [16]:
ds_roles = dataset['role']
print(ds_roles)

OrderedDict({'time': ['Tid'], 'metric': ['ContentsCode']})

Here are some new metadata that came in 2025. Applies both to V1 and V2 of the API

In [17]:
ds_id = dataset['extension']['px']['tableid']
print(ds_id)

03024

In [18]:
ds_shorttit = dataset['extension']['px']['contents']
print(ds_shorttit)

03024: Export of salmon, fish-farm bred,

Check if the table has got a footnote

In [19]:
if 'note' in dataset:
    ds_note = dataset['note']
    print(ds_note)

In [20]:
ds_dims = dataset['id']
ds_dims

['VareGrupper2', 'ContentsCode', 'Tid']

In [21]:
ds_dim = dataset['dimension']['VareGrupper2']['label']
ds_dim

'commodity group'

In [22]:
ds_shorttit,' etter ',ds_dim

('03024: Export of salmon, fish-farm bred,', ' etter ', 'commodity group')

In [23]:
ds_dimcat = dataset['dimension']['ContentsCode']
ds_dimcat

OrderedDict([('label', 'contents'),
             ('category',
              OrderedDict([('index',
                            OrderedDict([('Vekt', 0), ('Kilopris', 1)])),
                           ('label',
                            OrderedDict([('Vekt', 'Weight (tonnes)'),
                                         ('Kilopris',
                                          'Price per kilo (NOK)')])),
                           ('unit',
                            OrderedDict([('Vekt',
                                          OrderedDict([('base', 'tonnes'),
                                                       ('decimals', 0)])),
                                         ('Kilopris',
                                          OrderedDict([('base', 'NOK'),
                                                       ('decimals',
                                                        2)]))]))])),
             ('extension',
              OrderedDict([('elimination', False),
                           ('refperiod',
                            OrderedDict([('Vekt', 'End of week'),
                                         ('Kilopris', 'End of week')])),
                           ('show', 'value'),
                           ('measuringType',
                            OrderedDict([('Vekt', 'Flow'),
                                         ('Kilopris', 'Flow')])),
                           ('priceType',
                            OrderedDict([('Vekt', 'NotApplicable'),
                                         ('Kilopris', 'NotApplicable')])),
                           ('adjustment',
                            OrderedDict([('Vekt', 'None'),
                                         ('Kilopris', 'None')]))])),
             ('link',
              OrderedDict([('describedby',
                            [OrderedDict([('extension',
                                           OrderedDict([('Vekt',
                                                         'urn:ssb:conceptvariable:vardok:2982')]))])])]))])

In [24]:
ds_var = dataset['dimension']['VareGrupper2']['category']['label']['01']
ds_var

'Fish-farm bred salmon, fresh or chilled'

## GET - PxWebApi2

Pre-defined datasets are new in version 2 of PxWebApi. 

We use the POST URL above with http GET to give us a pre-defined dataset.

The parameter `?lang=no&outputFormat=json-stat2` is optional because it is set as default in `/config`

In [25]:
print(requests.get(POST_URL).url)

https://data.ssb.no/api/pxwebapi/v2/tables/03024/data?lang=en&outputFormat=json-stat2

In [26]:
resultat_get = requests.get(POST_URL)

In [27]:
res_get = resultat_get.text

In [28]:
dataset_get = pyjstat.Dataset.read(res_get)

In [29]:
# dataset_get

In [30]:
df_get = dataset_get.write('dataframe')

In [31]:
df_get

,commodity group,week,contents,value
0,"Fish-farm bred salmon, fresh or chilled",2025U43,Weight (tonnes),25886.00
1,"Fish-farm bred salmon, fresh or chilled",2025U43,Price per kilo (NOK),78.25
2,"Fish-farm bred salmon, frozen",2025U43,Weight (tonnes),740.00
3,"Fish-farm bred salmon, frozen",2025U43,Price per kilo (NOK),74.86

We can also use get-url with parameters: fresh salmon, weight, price in 2025

`&valueCodes[VareGrupper2]=01&valueCodes[ContentsCode]=Vekt,Kilopris&valueCodes[Tid]=from(2025U01)`

In [32]:
GET_URL = 'https://data.ssb.no/api/pxwebapi/v2/tables/03024/data?lang=en&valueCodes[VareGrupper2]=01&valueCodes[ContentsCode]=Vekt,Kilopris&valueCodes[Tid]=from(2025U01)'

In [33]:
resultat_get1 = requests.get(GET_URL)

In [34]:
dataset1_get = pyjstat.Dataset.read(resultat_get1.text)

In [35]:
df1 = dataset1_get.write('dataframe')

In [36]:
df1.tail(2)

,commodity group,contents,week,value
84,"Fish-farm bred salmon, fresh or chilled",Price per kilo (NOK),2025U42,73.74
85,"Fish-farm bred salmon, fresh or chilled",Price per kilo (NOK),2025U43,78.25

__New in API2.__ 

Parameters for controlling CSV output.

For the output formats csv, html and xlsx, you can specify the display of code/text and table title in `outputformatparams`:

- `UseCodes` (display codes) 
- `UseTexts` (display text) 
- `UseCodesAndTexts` (display both codes and text) 
- `IncludeTitle` (include table title) 

You can also use `stub` to specify which variables you want to place in the front column of the table and possibly `heading` for the variables you want to place in the table header. If you place all variables in stub, you get a so-called pivot-friendly table.


And for csv files you can choose between different separators:

- `SeparatorTab` (tab between columns)
- `SeparatorSpace` (space between columns)
- `SeparatorSemicolon` (semicolon between columns)

Mask one or more single character using `?`

new filters: `from(), [range(x, y)], bottom() `

The URL below the same as the POST query, but the output format is CSV. 

The output here is semicolon separated, with both code and text. Contentscode is in head, and the order of columns are Varegruppe2 og Tid.

`outputformat = csv`

`outputformatparams = separatorsemicolon, usecodesandtexts`

`heading = ContentsCode`

`stub = VareGrupper2, Tid`

In [37]:
CSV_URL = 'https://data.ssb.no/api/pxwebapi/v2/tables/03024/data?lang=en&outputformat=csv&outputformatparams=separatorsemicolon,usecodesandtexts&heading=ContentsCode&stub=VareGrupper2,Tid&valuecodes[ContentsCode]=Vekt,Kilopris&valuecodes[Varegrupper2]=01,02&valuecodes[Tid]=2025*'

It is possible to pass the URL with CSV directly to Pandas, with pd.read_csv(), and get a dataframe.

In [38]:
df = pd.read_csv(CSV_URL, delimiter = ';')

In [39]:
df.head(8)

,VareGrupper2 - commodity group,Tid - week,Vekt - Weight (tonnes),Kilopris - Price per kilo (NOK)
0,"01 - Fish-farm bred salmon, fresh or chilled",2025U01 - 2025U01,11364,125.36
1,"01 - Fish-farm bred salmon, fresh or chilled",2025U02 - 2025U02,15939,117.77
2,"01 - Fish-farm bred salmon, fresh or chilled",2025U03 - 2025U03,17325,105.08
3,"01 - Fish-farm bred salmon, fresh or chilled",2025U04 - 2025U04,15564,98.43
4,"01 - Fish-farm bred salmon, fresh or chilled",2025U05 - 2025U05,16370,94.49
5,"01 - Fish-farm bred salmon, fresh or chilled",2025U06 - 2025U06,15184,92.18
6,"01 - Fish-farm bred salmon, fresh or chilled",2025U07 - 2025U07,15966,93.23
7,"01 - Fish-farm bred salmon, fresh or chilled",2025U08 - 2025U08,15536,92.97

Same with requests. It's more cumbersome if you don't use the URL directly.

In [40]:
result_csv = requests.get(CSV_URL)

In [41]:
result_csv

In [42]:
r_csv = result_csv.text

In [43]:
r_csv

'"VareGrupper2 - commodity group";"Tid - week";"Vekt - Weight (tonnes)";"Kilopris - Price per kilo (NOK)"\r\n"01 - Fish-farm bred salmon, fresh or chilled";"2025U01 - 2025U01";11364;125.36\r\n"01 - Fish-farm bred salmon, fresh or chilled";"2025U02 - 2025U02";15939;117.77\r\n"01 - Fish-farm bred salmon, fresh or chilled";"2025U03 - 2025U03";17325;105.08\r\n"01 - Fish-farm bred salmon, fresh or chilled";"2025U04 - 2025U04";15564;98.43\r\n"01 - Fish-farm bred salmon, fresh or chilled";"2025U05 - 2025U05";16370;94.49\r\n"01 - Fish-farm bred salmon, fresh or chilled";"2025U06 - 2025U06";15184;92.18\r\n"01 - Fish-farm bred salmon, fresh or chilled";"2025U07 - 2025U07";15966;93.23\r\n"01 - Fish-farm bred salmon, fresh or chilled";"2025U08 - 2025U08";15536;92.97\r\n"01 - Fish-farm bred salmon, fresh or chilled";"2025U09 - 2025U09";18067;92.67\r\n"01 - Fish-farm bred salmon, fresh or chilled";"2025U10 - 2025U10";17116;87.00\r\n"01 - Fish-farm bred salmon, fresh or chilled";"2025U11 - 2025U11";17467;88.64\r\n"01 - Fish-farm bred salmon, fresh or chilled";"2025U12 - 2025U12";18172;89.09\r\n"01 - Fish-farm bred salmon, fresh or chilled";"2025U13 - 2025U13";18828;84.45\r\n"01 - Fish-farm bred salmon, fresh or chilled";"2025U14 - 2025U14";19053;76.40\r\n"01 - Fish-farm bred salmon, fresh or chilled";"2025U15 - 2025U15";20009;78.56\r\n"01 - Fish-farm bred salmon, fresh or chilled";"2025U16 - 2025U16";13620;95.33\r\n"01 - Fish-farm bred salmon, fresh or chilled";"2025U17 - 2025U17";18343;89.19\r\n"01 - Fish-farm bred salmon, fresh or chilled";"2025U18 - 2025U18";18958;75.35\r\n"01 - Fish-farm bred salmon, fresh or chilled";"2025U19 - 2025U19";18073;74.31\r\n"01 - Fish-farm bred salmon, fresh or chilled";"2025U20 - 2025U20";19523;77.06\r\n"01 - Fish-farm bred salmon, fresh or chilled";"2025U21 - 2025U21";20466;75.89\r\n"01 - Fish-farm bred salmon, fresh or chilled";"2025U22 - 2025U22";18223;70.42\r\n"01 - Fish-farm bred salmon, fresh or chilled";"2025U23 - 2025U23";19164;72.42\r\n"01 - Fish-farm bred salmon, fresh or chilled";"2025U24 - 2025U24";18505;82.73\r\n"01 - Fish-farm bred salmon, fresh or chilled";"2025U25 - 2025U25";22332;76.33\r\n"01 - Fish-farm bred salmon, fresh or chilled";"2025U26 - 2025U26";21712;68.74\r\n"01 - Fish-farm bred salmon, fresh or chilled";"2025U27 - 2025U27";22602;70.28\r\n"01 - Fish-farm bred salmon, fresh or chilled";"2025U28 - 2025U28";24500;67.29\r\n"01 - Fish-farm bred salmon, fresh or chilled";"2025U29 - 2025U29";24412;68.13\r\n"01 - Fish-farm bred salmon, fresh or chilled";"2025U30 - 2025U30";26055;65.10\r\n"01 - Fish-farm bred salmon, fresh or chilled";"2025U31 - 2025U31";25317;60.58\r\n"01 - Fish-farm bred salmon, fresh or chilled";"2025U32 - 2025U32";25796;62.05\r\n"01 - Fish-farm bred salmon, fresh or chilled";"2025U33 - 2025U33";27320;64.38\r\n"01 - Fish-farm bred salmon, fresh or chilled";"2025U34 - 2025U34";28180;65.13\r\n"01 - Fish-farm bred salmon, fresh or chilled";"2025U35 - 2025U35";27726;65.86\r\n"01 - Fish-farm bred salmon, fresh or chilled";"2025U36 - 2025U36";26744;70.20\r\n"01 - Fish-farm bred salmon, fresh or chilled";"2025U37 - 2025U37";24791;74.99\r\n"01 - Fish-farm bred salmon, fresh or chilled";"2025U38 - 2025U38";24495;77.40\r\n"01 - Fish-farm bred salmon, fresh or chilled";"2025U39 - 2025U39";23396;79.91\r\n"01 - Fish-farm bred salmon, fresh or chilled";"2025U40 - 2025U40";24009;77.68\r\n"01 - Fish-farm bred salmon, fresh or chilled";"2025U41 - 2025U41";26112;75.38\r\n"01 - Fish-farm bred salmon, fresh or chilled";"2025U42 - 2025U42";26448;73.74\r\n"01 - Fish-farm bred salmon, fresh or chilled";"2025U43 - 2025U43";25886;78.25\r\n"02 - Fish-farm bred salmon, frozen";"2025U01 - 2025U01";255;84.19\r\n"02 - Fish-farm bred salmon, frozen";"2025U02 - 2025U02";393;90.27\r\n"02 - Fish-farm bred salmon, frozen";"2025U03 - 2025U03";645;84.59\r\n"02 - Fish-farm bred salmon, frozen";"2025U04 - 2025U04";738;88.27\r\n"02 - Fish-farm bred salmon, frozen";"2025U05 - 2025U05";510;96.78\r\n"02 - Fish-farm bred salmon, frozen";"2025U06 - 2025U06";706;92.27\r\n"02 - Fish-farm bred salmon, frozen";"2025U07 - 2025U07";740;86.96\r\n"02 - Fish-farm bred salmon, frozen";"2025U08 - 2025U08";544;82.23\r\n"02 - Fish-farm bred salmon, frozen";"2025U09 - 2025U09";520;79.50\r\n"02 - Fish-farm bred salmon, frozen";"2025U10 - 2025U10";538;93.43\r\n"02 - Fish-farm bred salmon, frozen";"2025U11 - 2025U11";368;76.23\r\n"02 - Fish-farm bred salmon, frozen";"2025U12 - 2025U12";473;95.18\r\n"02 - Fish-farm bred salmon, frozen";"2025U13 - 2025U13";560;83.03\r\n"02 - Fish-farm bred salmon, frozen";"2025U14 - 2025U14";612;76.26\r\n"02 - Fish-farm bred salmon, frozen";"2025U15 - 2025U15";666;76.87\r\n"02 - Fish-farm bred salmon, frozen";"2025U16 - 2025U16";162;84.84\r\n"02 - Fish-farm bred salmon, frozen";"2025U17 - 2025U17";534;82.26\r\n"02 - Fish-farm bred salmon, frozen";"2025U18 - 2025U18";479;84.86\r\n"02 - Fish-farm bred salmon, frozen";"2025U19 - 2025U19";530;77.32\r\n"02 - Fish-farm bred salmon, frozen";"2025U20 - 2025U20";498;89.40\r\n"02 - Fish-farm bred salmon, frozen";"2025U21 - 2025U21";703;82.63\r\n"02 - Fish-farm bred salmon, frozen";"2025U22 - 2025U22";686;70.85\r\n"02 - Fish-farm bred salmon, frozen";"2025U23 - 2025U23";721;76.80\r\n"02 - Fish-farm bred salmon, frozen";"2025U24 - 2025U24";651;75.44\r\n"02 - Fish-farm bred salmon, frozen";"2025U25 - 2025U25";688;73.33\r\n"02 - Fish-farm bred salmon, frozen";"2025U26 - 2025U26";440;72.93\r\n"02 - Fish-farm bred salmon, frozen";"2025U27 - 2025U27";628;76.87\r\n"02 - Fish-farm bred salmon, frozen";"2025U28 - 2025U28";657;77.98\r\n"02 - Fish-farm bred salmon, frozen";"2025U29 - 2025U29";606;76.83\r\n"02 - Fish-farm bred salmon, frozen";"2025U30 - 2025U30";718;70.76\r\n"02 - Fish-farm bred salmon, frozen";"2025U31 - 2025U31";854;71.67\r\n"02 - Fish-farm bred salmon, frozen";"2025U32 - 2025U32";624;65.93\r\n"02 - Fish-farm bred salmon, frozen";"2025U33 - 2025U33";732;75.74\r\n"02 - Fish-farm bred salmon, frozen";"2025U34 - 2025U34";747;70.19\r\n"02 - Fish-farm bred salmon, frozen";"2025U35 - 2025U35";597;65.09\r\n"02 - Fish-farm bred salmon, frozen";"2025U36 - 2025U36";921;70.89\r\n"02 - Fish-farm bred salmon, frozen";"2025U37 - 2025U37";708;64.45\r\n"02 - Fish-farm bred salmon, frozen";"2025U38 - 2025U38";864;73.80\r\n"02 - Fish-farm bred salmon, frozen";"2025U39 - 2025U39";796;71.33\r\n"02 - Fish-farm bred salmon, frozen";"2025U40 - 2025U40";701;69.75\r\n"02 - Fish-farm bred salmon, frozen";"2025U41 - 2025U41";606;72.00\r\n"02 - Fish-farm bred salmon, frozen";"2025U42 - 2025U42";568;72.47\r\n"02 - Fish-farm bred salmon, frozen";"2025U43 - 2025U43";740;74.86\r\n'

In [44]:
df1 = pd.read_csv(io.StringIO(r_csv), delimiter = ';')

In [45]:
df1.tail(8)

,VareGrupper2 - commodity group,Tid - week,Vekt - Weight (tonnes),Kilopris - Price per kilo (NOK)
78,"02 - Fish-farm bred salmon, frozen",2025U36 - 2025U36,921,70.89
79,"02 - Fish-farm bred salmon, frozen",2025U37 - 2025U37,708,64.45
80,"02 - Fish-farm bred salmon, frozen",2025U38 - 2025U38,864,73.80
81,"02 - Fish-farm bred salmon, frozen",2025U39 - 2025U39,796,71.33
82,"02 - Fish-farm bred salmon, frozen",2025U40 - 2025U40,701,69.75
83,"02 - Fish-farm bred salmon, frozen",2025U41 - 2025U41,606,72.00
84,"02 - Fish-farm bred salmon, frozen",2025U42 - 2025U42,568,72.47
85,"02 - Fish-farm bred salmon, frozen",2025U43 - 2025U43,740,74.86